@charset "utf-8";

@import './bootstrap.min.css';
@import './bootstrap-theme.min.css';
@import './bootstrap-multiselect.css';

@font-face {
    font-family: 'NanumSquare';
    src: local('NanumSquareR'),
        url('../../font/NanumSquareR.woff') format('woff'),
        url('../../font/NanumSquareR.ttf') format('truetype'),
        url('../../font/NanumSquareR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumSquareB';
    src: local('NanumSquareEB'),
        url('../../font/NanumSquareEB.woff') format('woff'),
        url('../../font/NanumSquareEB.ttf') format('truetype'),
        url('../../font/NanumSquareEB.eot') format('embedded-opentype');
}


html{
  overflow-y:hidden;
}

.wrap{
    position:relative;
    height:100%;
    background:#fff;
}

.wrap *{
    box-sizing:border-box;
}

/*--- HEADER ---*/
header{
    float: left;
    overflow:hidden;
    width: 200px;
    height:100%;
    box-shadow: 4px 0 10px #eee;
    border-right: solid 1px #d7d7d7;
}
.head_top{
    padding: 20px 10px 10px;
    border-bottom: solid 1px #eee;
    margin-bottom: 10px;
}
.head_top > span{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.head_top > span img{
    display: block;
    width: 100%;
}
.head_top p{
    font-size: 12px;
    text-align: right;
    line-height: 120%;
    padding: 20px 0 14px;
}
.head_top p span{}
.head_btn{
    text-align: right;
}
.head_btn button{
    display: inline-block;
    padding: 2px 8px 2px 18px;
    background: #fff;
    border: solid 1px #ddd;
    font-size: 12px;
    color: #888;
}
.head_btn .modify{
    background:url('../../img/etc/admin_ic1.png') no-repeat 3% 50%;
}
.head_btn .logout{
    background:url('../../img/etc/admin_ic2.png') no-repeat 3% 50%;
}

/* GNB MENU */
.gnb{
    max-height:780px;
    overflow-y:scroll;
    margin-right:-16px;
}
.gnb li{
    border-bottom: solid 1px #eee;
}
.gnb li button{
    display: block;
    width: 100%;
    padding: 8px 14px;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    background: #fff;
}
.gnb li button span{
    display: none;
    width: 0;
    height: 0;
    margin-right: 4px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff;
}
.gnb li.on button,
.gnb li:hover button,
.gnb li button:hover{
    background: #399ce4;
    color: #fff;
}
.gnb li.on button span,
.gnb li:hover button span{
    display:inline-block;
}
.gnb li.on .sub{
    display:block;
}
.sub li a:hover,
.sub li a.on{
    text-decoration:underline;
    background:#addcff;
}
.sub{
    display:none;
}
.sub li{}
.sub li a{
    padding: 10px 14px;
    text-align: right;
    display: block;
    font-size: 12px;
    font-weight: 500;
    background: #eee;
    color: #777;
    border-top: solid 1px #fff;
}


/* --- LOGIN --- */
.wrap_login{
    width: 670px;
    margin: 90px auto;
}
.wrap_login *{
    box-sizing:border-box;
}
.wrap_login > span{
    display: block;
    overflow: hidden;
    text-align: right;
}
.wrap_login > span img{
    display: block;
    float: right;
}
.login_box{
    padding: 30px 30px 100px;
    margin-top:10px;
    border-top: solid 2px #36a9b4;
    border-bottom: solid 1px #eee;
    background:url('../../img/etc/admin_login.jpg') no-repeat 100%;
}
.login_box h1{
    font-family: 'NanumSquareB';
    font-size: 40px;
    color: #555;
}
.login_box > p{
    font-size: 14px;
    padding: 8px 0 30px;
}
.login_form_box{
    float: left;
    width: 240px;
}
.login_form_box p{
    float: left;
    width: 50px;
    font-size: 14px;
    text-align: right;
    line-height: 200%;
    letter-spacing: -1px;
    margin-right: 10px;
}
.login_form_box input,
.login_form_box select{
    display: block;
    width: calc(100% - 60px);
    float: right;
    padding: 4px;
    margin-bottom: 6px;
    border: solid 1px #ccc;
}
.login_box button{
    display: block;
    float: left;
    width: 110px;
    font-family: 'NanumSquare';
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 33px 0;
    margin-left: 10px;
    background: #36a9b4;
    border-radius: 4px;
    border: solid 1px #1a96a1;
}



/*--- CONTENTS ---*/
.right{
  float:left;
  width:calc(100% - 200px);
}
.contents_wrap{
    /* width: calc(100% - 201px); */
    width:100%;
    float: left;
}
.content_top{
    padding: 10px 20px;
}
.content_top h1{
    font-family: 'NanumSquare';
    font-size: 28px;
    padding: 20px 0 10px;
}

/* FILTER */
.filter_box{
    padding:4px 0 0 8px;
    border-top:solid 1px #aaa;
}
.filter_box .more input[type='text']{
    width:43%;
}
.filter_box div.more{
    width:300px;
}
.filter_box .more span{
    float:left;
}
.filter_box.top{
    border-top:solid 1px #ccc;
    border-bottom:solid 1px #aaa;
}
.filter_box div{
    display:flex;
    float: left;
    overflow: hidden;
    margin-bottom: 4px;
    margin-right: 6px;
    padding: 4px 0;
}
.filter_box div p{
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 175%;
    padding:2px 6px 0 0;
    margin:0;
}
.filter_box div select,
.filter_box div input[type='text']{
    text-align:center;
    border:solid 1px #ccc;
}
.filter_box div select{
    float: left;
    padding:4px;
    margin-right: 4px;
}
.filter_box div select option{}
.filter_box div input[type='text']{
    float: left;
    display: block;
    padding:2px 6px;
    font-size: 16px;
}

.content_btn_box{
    padding: 0 20px;
}
.content_btn_box button{
    min-width:73px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding: 10px;
    background: #fff;
    border:solid 1px #ccc;
    border-radius: 2px;
}
.content_btn_box button:hover{
  color:#fff;
  background:#006db3;
  border:solid 1px #006db3;
}

/* GRID AREA */
.grid_area{
    border: solid 1px #eee;
    min-height: 300px;
    margin: 10px 20px 0;
    overflow-x: scroll;
}




/* ---------- ADMIN POPUP ---------- */
.admin_popup{
    display:none;
    padding:10px;
}
.admin_popup.div{
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #ccc;
}
.admin_popup *{
  box-sizing:border-box;
}
.admin_popup.type1{
  width:100%;
  max-width:350px;
  margin:0 auto;
}
.admin_popup_title{
  font-family: 'NanumSquare';
  font-size: 24px;
  color: #fff;
  padding: 16px 10px;
  background: #36a9b4;
}
.category_box{
  padding-bottom: 4px;
}
.category_box p{
  float: left;
  width: 30%;
  font-size: 16px;
  line-height: 190%;
}
.category_box select{
    display: block;
    float: left;
    width: 70%;
    padding: 6px;
}
.admin_popup_btn{
    text-align: center;
    padding-top: 30px;
}
.admin_popup_btn button{
    padding: 10px 0;
    font-family: 'NanumSquare';
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    width: 49%;
    background: #14939f;
}



@media all and (max-width:1100px){
    .filter_box div,
    .filter_box div.more{
        float:none;
        width:100%;
    }
    .filter_box div p{
        min-width:60px;
    }
    .filter_box .more input[type='text']{
        width:20%;
        min-width:120px;
    }
}
















/* ---------- GRID ---------- */
.grid-cell-edit{
    background:#d0f5a9 !important;
}
.grid-cell-edit2{
    background:#d0f5f9 !important;
}

.form-inline .form-control{
    display:block !important;
}