@charset "utf-8";

body{
    background:#444;
}
.wrap{
    width:1100px;
    margin:50px auto;
    background:#444;
}
.lecture_head p{
    display:inline-block;
    color:#fff;
    padding: 10px 50px;
    font-size: 20px;
}
.lecture_title{
    float:left;
}
.lecture_time{
    float:right;
}
.btn_area{
    width:80%;
    padding:10px;
    margin:0 auto;
}
#lecture_content{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: block;
}
.test_image{
    display: block;
    margin: 10px auto 0;
}
.btn_area button{
    position:relative;
    width:15%;
    color:#fff;
    padding:10px 0;
    margin-right:12px;
    border:none;
    background:none;
}
.btn_area button:after {
    display: block;
    content: '';
    width: 1px;
    height: 14px;
    background: #666;
    position: absolute;
    top: 11px;
    right: -8px;
}
.wrap .last_right{
    margin-right:0;
}
.btn_area .last_right:after{
    display:none;
}
