@charset "utf-8";

body *{
    font-family: 'NanumSquare', sans-serif;
    color:#333;
}

.clear_fix:after{
    display:block;
    content:'';
    clear:both;
}
.clear_after{
    clear:both;
}