/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size:16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 추가 */

html, body{
    height:100%;
}
input{
    margin:0;
}
a{
    text-decoration:none;
}
button{
    border:none;
    cursor:pointer;
}
button:focus{
	outline:none;
}


/* COMMON CSS */

body *{
    font-family: 'NanumGothic', sans-serif;
    color:#333;
}

.clear_fix:after{
    display:block;
    content:'';
    clear:both;
}
.clear_after{
    clear:both;
}

body{
	background:#374049;
}
.wrap{
	background:#fff;
}

iframe{
	display:block;
	width:100%;
}

.iframe_contents{
	min-height: 300px;
}
.contents_wrap.qna .iframe_contents{
	min-height:0;
}
.iframe_contents *{
	line-height:130%;
}

.mobile_study_box a{
	display: block;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 16px 0;
    background: #0584c3;
    width: 90%;
    margin: 8px auto;
    border-radius: 6px;
}




.footer_wrap .foot_link_box li{
    width:25%;
    margin-right:0;
}
.foot_link_pc{
    display:none;
}