@charset "utf-8";

@font-face {
    font-family: 'NanumSquare';
    /* font-style: normal; */
    /* font-weight: 500; */
    src: local('NanumSquareR'),
        url('../font/NanumSquareR.woff') format('woff'),
        url('../font/NanumSquareR.ttf') format('truetype'),
        url('../font/NanumSquareR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumSquareB';
    /* font-style: normal; */
    /* font-weight: 900; */
    src: local('NanumSquareEB'),
        url('../font/NanumSquareEB.woff') format('woff'),
        url('../font/NanumSquareEB.ttf') format('truetype'),
        url('../font/NanumSquareEB.eot') format('embedded-opentype');
}




/* Top */
.process_history_box{
    font-size: 13px;
    float: right;
    padding: 14px 0 10px;
}
.process_history_box span{
    display: block;
    float: left;
    width: 11px;
    padding: 3px 0;
}
.process_history_box span img{
    display: block;
    width: 100%;
}
.process_history_box p{
    float: left;
    padding: 0 10px;
}
.top_area h1{
    clear: both;
    font-family:"NanumSquare";
    font-size: 44px;
    letter-spacing: -2px;
    padding-bottom: 16px;
    border-bottom: solid 1px #003366;
}
.top_area h1 span{
    font-family:"NanumSquare";
    color: #0180d3;
}



/* VISUAL */
.contents_wrap{
    position:relative;
    padding-top:150px;
}
.visual_box{
    width:1122px;
    margin:0 auto;
}
.visual_box img{
    display:block;
    width:100%;
}
.slider_wrap.tabs .slide_box{
    height:-webkit-fill-available;
    display:block;
    width:100%;
}
.slider_wrap.tabs .slide_box{
    height:100%;
}
.tabs .slide_1{
    background:url('../img/main_visual.jpg') #0071bc 50% -8% no-repeat;
}
.tabs .slide_2{
    background:url('../img/main_visual2.jpg') #fcdc56 56% 110% no-repeat;
}
.tabs .slide_3{
    background:url('../img/main_visual3.jpg') #5ab4dc 50% -8% no-repeat;
}
.process1_slide_wrap .slide_box{
    background:url('../img/process1.jpg') 50% 0 #f2ede7 no-repeat;
}
.process2_slide_wrap .slide_box{
    background:url('../img/process2.jpg') 50% 0 #fff no-repeat;
    background-size:contain;
}

.slide{
    width:1122px;
    padding-top:5%;
    margin:0 auto;
}
.slide_2 .slide {
    padding-top: 3%;
}

.slider_text_box{
    float:right;
}
.slider_text_box.left{
    float:left;
}
.slider_text_box img.mobile{
    display:none;
}
.slide_box button{
    display: block;
    float: right;
    width: 10%;
    margin-left: 87%;
    margin-top: 14px;
    padding:8px 0;
    background: transparent;
    border: solid 1px #fff;
    color: #fff;
    font-size: 18px;
}
.slide_box .right_bottom{
    margin-top:-34px;
}
.slide_box .right_bottom_nonText{
    margin-top:190px;
}
.slider_tab_wrap{
    position:relative;
}
.slider_tab{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
    width:1122px;
    margin:0 auto;
    z-index:99999;
}
.slider_tab button{
    float: left;
    display: block;
    width: 33.2%;
    font-family: "NanumSquare";
    font-size: 16px;
    margin-right: 1px;
    color: #fff;
    padding: 18px 0;
    letter-spacing: 0px;
    background: #555;
    background: rgba(0,0,0,0.3);
}
.slider_tab .last_right{
    margin-right:0;
}
.slider_tab button.on{
    color: #333;
    font-weight: 900;
    background: #fff;
}
#btn_center{
    border-left:solid 1px #aaa;
    border-right:solid 1px #aaa;
}

/* bxSlider style 수정 */
.bx-viewport{
    height:350px !important;
    background:#5d68ca;
}
.tabs{
    height:100%;
    display:none;
}
#tab1{
    display:block;
}
.contents_wrap .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{
    width:100%;
    text-align:center;
}
.process_wrap .bx-wrapper .bx-controls .bx-pager{
    bottom:30px;
}
.bx-wrapper .bx-controls .bx-controls-auto .bx-start{
    width:20px;
    height:20px;
    background:url('../img/ic_play.png') no-repeat;
    background-size:contain;
}
.bx-wrapper .bx-controls .bx-controls-auto .bx-stop{
    width:20px;
    height:20px;
    background:url('../img/ic_pause.png') no-repeat;
    background-size:contain;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{
    overflow:hidden;
    right:10px;
    bottom:0;
    background:rgba(255,255,255,0.1);
    border-radius:4px;
    padding:4px 0;
    z-index:9999999;
}

.contents_wrap .bx-wrapper{
    margin:0;
    border:none;
}
.bx-wrapper .bx-controls .bx-pager.bx-default-pager a.active{
    background:#0071bc;
    border:solid 1px #fff;
}
.bx-wrapper .bx-controls .bx-pager{
    bottom:70px;
    z-index:9999999;
}
.bx-wrapper .bx-controls .bx-pager.bx-default-pager a{
    background:#fff;
    border:solid 1px #ccc;
}
.process_wrap .bx-viewport {
    height: 230px !important;
    background:#fff;
}
.wrap .contents_wrap .bx-wrapper .bx-controls.bx-has-controls-auto .bx-controls-auto{
    display:none;
    position: absolute;
    bottom: 60px;
    right: 38%;
    width:56px;
}
.wrap .contents_wrap .process_wrap .bx-wrapper .bx-controls.bx-has-controls-auto .bx-controls-auto,
.wrap .contents_wrap .recommend_wrap .bx-wrapper .bx-controls.bx-has-controls-auto .bx-controls-auto{
    bottom:20px;
}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{
    float:left;
}


/* LECTURE */
.process_wrap > p,
.recommend_wrap > p{
    position:relative;
    width:1122px;
    font-family:"NanumSquare";
    font-size:24px;
    text-indent:12px;
    letter-spacing:-2px;
    padding:30px 0 20px;
    margin:0 auto;
}
.process_wrap > p:after,
.recommend_wrap > p:after{
    position:absolute;
    top:30px;
    left:0;
    display:block;
    content:'';
    width:3px;
    height:22px;
    border-left:solid 2px #ff3366;
    border-right:solid 2px #ff3366;
}
.process_box{
    width:1122px;
    padding:50px 0 40px;
    margin:0 auto;
}
.process1{
    padding:50px 80px 40px;
}
.process2{
    padding:50px 0 60px;
}
.process{
    /* width:1122px; */
    letter-spacing: -1px;
    margin:0 auto;
}
.process_box .process *{
    font-family:"NanumSquare";
}
/* .process2 .process{
    width:62%;
    padding-left:30%;
} */
.process_title{
    font-size:18px;
    letter-spacing:-3px;
}
.process1 .process *{
    text-align:right;
}
.process_title span{
    display:block;
    font-size:36px;
    line-height:120%;
}
.process_title span strong{
    font-weight:900;
}
.process_text{
    font-size:15px;
    font-weight:600;
    line-height: 120%;
    padding:10px 0 20px;
}
.process1 .process .process_text{
    text-indent:50%;
}
.process a{
    display:inline-block;
    font-size:16px;
    color:#fff;
    padding:8px 22px;
    background:#0071bc;
}
.process1 .process a{
    float:right;
}

.recommend_wrap{
    background:#ffd846;
}
.recommend_wrap > p span{
    display: block;
    font-size: 15px;
    padding-top: 8px;
}
.recommend_wrap ul{
    width:1122px;
    padding-bottom:70px;
    margin:0 auto;
}
.recommend1{
    background:url('../img/recommend1.jpg') #fff 0 0 no-repeat;
}
.recommend2{
    background:url('../img/recommend2.jpg') #fff 0 0 no-repeat;
}
.recommend3{
    background:url('../img/recommend3.jpg') #fff 0 0 no-repeat;
}
.recommend{
    position:relative;
    display:block;
    float:left;
    width:30%;
    height:300px;
    margin-right:5%;
    background-size:contain;
}
.recommend2,
.recommend3{
    background-size:120%;
}
.recommend.last_right{
    margin-right:0;
}
.recommend_title{
    display:block;
    width:90%;
    height:122px;
    padding:20px 5%;
}
.recommend_title.white *{
    color:#fff;
}
.recommend_title p{
    font-size:14px;
    line-height:120%;
}
.recommend_title .lecture_title{
    font-size:20px;
    font-weight:900;
    margin-bottom:12px;
}
.lecture_title strong{
    display:block;
    font-size:24px;
}
.recommend_text{
    font-size: 14px;
    line-height:130%;
    letter-spacing: -1px;
    padding: 10px 3%;
}
.recommend_text strong{
    display:block;
    font-family:"NanumSquareB";
    font-size:18px;
    letter-spacing:-2px;
    margin-bottom:8px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height:120%;
}
.lecture_more{
    position:absolute;
    left:5%;
    bottom:15px;
    display:block;
    width:28%;
    min-width:60px;
    max-width:150px;
    font-family:"NanumSquare";
    font-size:14px;
    font-weight:900;
    color:#fff;
    text-align:center;
    padding:8px 0;
    background:#333;
}
.lecture_more:hover{
    background:#555;
}
.recommend:hover .recommend_text,
.recommend:hover .recommend_text strong{
    color: #777;
}


/* CS */
.cs{
    width:1122px;
    padding:80px 0;
    margin:0 auto;
}
.cs > div{
    position:relative;
    float:left;
}
.notice{
    width:24.5%;
    padding-right:2.5%;
}
.faq{
    width:24.5%;
}
.faq, .guide{
    padding:0 2.5%;
}
.guide{
    width:18%;
}
.center{
    width:18%;
    padding-left:2.5%;
}
.notice:after,
.faq:after,
.guide:after{
    position:absolute;
    top:15px;
    right:0;
    display:block;
    content:'';
    width:1px;
    height:125px;
    background:#ddd;
}
.notice > ul,
.faq > ul{
    clear:both;
    width:100%;
}
.cs_title{
    float:left;
    font-family:"NanumSquareB";
    font-size:22px;
    color:#555;
    letter-spacing:-1px;
    padding-bottom:20px;
}
.cs_more{
    float:right;
    display:block;
    width:20%;
    font-size:30px;
    color:#555;
    text-align:right;
    cursor:pointer;
}
.cs_more:hover{
    color:#111;
}
.notice_list:active a p,
.faq_list:active a p,
.notice_list:hover a p,
.faq_list:hover a p{
    color:#0071bc;
}
.guide > a:active,
.guide > a:hover{
    color:#fff;
    background:#0071bc;
    border:solid 2px #0071bc;
}
.notice_list a{
    display:block;
    font-size:14px;
    line-height:150%;
}
.notice_list a p{
    float: left;
    width: 68%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notice_list a span{
    display: block;
    width: 30%;
    float: right;
}
.faq_list a{
    display:block;
    font-size:14px;
    line-height:150%;
}
.faq_list a p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.guide{
    background:url('../img/img_visitor.png') 94% 100% no-repeat;
}
.guide .cs_title{
    color:#006699;
}
.guide_text{
    font-size:14px;
    padding-bottom:25px;
    clear:both;
}
.guide a{
    display: inline-block;
    font-size: 14px;
    padding: 10px 15px;
    border: solid 2px #ccc;
    margin-bottom: 20px;
}
.center strong{
    display:block;
    font-size:30px;
    font-weight:900;
    color:#ff6600;
    letter-spacing:-2px;
    padding-bottom:12px;
    clear:both;
}
.center_time_box{
    padding-left:15%;
    background:url('../img/img_clock.jpg') no-repeat;
}
.center_time_box p{
    font-size: 14px;
    line-height: 140%;
}





/* Media query */

@media all and (max-width:1122px){

    /* VISUAL */
    .visual_box,
    .slider_tab,
    .slide{
        width:100%;
    }
    .slide{
        right:3%;
    }


    /* LECTURE */
    .process_wrap > p, .recommend_wrap > p{
        width:92%;
        font-size:20px;
        margin:0 auto;
    }
    .process_wrap > p:after, .recommend_wrap > p:after{
        height:18px;
    }
    .process_box{
        width:100%;
        padding:36px 0 50px;
        background-size:cover;
    }
    .process_box.process2{
        padding:46px 0 50px;
    }
    .process{
        width:92%;
        margin:0 auto;
    }
    .process_title{
        width:65%;
        margin:0 0 0 auto;
    }
    .process .process_text{
        display:none;
    }
    .process2 .process{
        width:auto;
        padding:0;
        margin-left:30%;
    }
    .process2 .process .process_title{
        width:100%;
        margin:0;
    }
    .process_text{
        padding:10px 0 0;
    }
    .process a{
        margin-top:10px;
    }

    .recommend_wrap{
        background:#fff;
    }
    .recommend_wrap ul{
        width:100%;
    }
    .recommend{
        width: 100%;
        margin-right: 0;
        height: 168px;
        background-size:cover;
    }
    .process_wrap .bx-viewport{
        height:180px !important;
    }
}

@media all and (max-width:420px){
    /* #width_text{
        color:#333;
        background:yellow;
    } */
    .slider_tab{
        width:100%;
    }
    .recommend_wrap .recommend{
        background-size:contain;
    }
    .recommend1{
        background:url('../img/recommend1.jpg') #996633 100% 0 no-repeat;
    }
    .recommend2{
        background:url('../img/recommend2.jpg') #ffcc00 100% 0 no-repeat
    }
    .recommend3{
        background:url('../img/recommend3.jpg') #03a9da 100% 0 no-repeat;
    }
}
@media all and (max-width:900px){
    /* CONTENTS */
    .contents_wrap {
        padding-top: 105px;
    }
    .contents_wrap .bx-wrapper{
        height:520px;
        background:#5d68ca;
    }
    .contents_wrap .process_wrap .bx-wrapper{
        height:auto;
        background:#fff;
    }
    .visual_box{
        margin:120px auto 0;   
    }
    .visual_box img {
        width: 80%;
    }
    .slide{
        top:4%;
        right:0;
        width:95%;
    }
    .slide_box button,
    .slide_box .right_bottom,
    .slide_box .right_bottom_nonText{
        float:inherit;
        width:100px;
        font-size:16px;
        padding:6px 4px;
        margin:180px auto 0;
    }
    #tab1 .slide_2 {
        background: url('../img/main_visual2.jpg') #392324 70% 0% no-repeat;
    }

    .bx-viewport{
        height:100% !important;
    }
    .bx-wrapper .bx-controls .bx-pager {
        padding:0;
        bottom: 150px;
    }
    .bx-wrapper .bx-controls .bx-pager.bx-default-pager a {
        width: 12px;
        height: 12px;
        border-radius: 6px;
    }
    .process_wrap .bx-wrapper .bx-controls .bx-pager {
        bottom: 50px;
    }
    .slider_text_box{
        width:100%;
        margin-top:-100px;
    }
    .slider_tab_wrap,
    .slider_tab{
        width:100%;
    }
    .slider_tab{
        top:inherit;
        bottom:0;
    }
    .slider_tab button{
        float: inherit;
        width: 90%;
        padding:10px 0;
        margin:0 5%;
        border:none;
    }
    .quick_menu_wrap{
        display:none;
    }
    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{
        display:none;
    }
    .recommend_wrap .recommend{
        background-size:cover;
    }
    .recommend1{
        background:url('../img/recommend1.jpg') #996633 100% 0 no-repeat;
    }
    .recommend2{
        background:url('../img/recommend2.jpg') #ffcc00 38% 0 no-repeat
    }
    .recommend3{
        background:url('../img/recommend3.jpg') #03a9da 50% 0 no-repeat;
    }
    #tab1 .slide_1,
    #tab2 .slide_1,
    #tab3 .slide_1{
        background:url('../img/main_visual_mobile.jpg') #5d68ca no-repeat;
        background-size:contain;
    }
    #tab1 .slide_2,
    #tab2 .slide_2,
    #tab3 .slide_2{
        background:url('../img/main_visual_mobile2.jpg') #392324 no-repeat;
        background-size:cover;
    }
    #tab1 .slide_3,
    #tab2 .slide_3,
    #tab3 .slide_3{
        background:url('../img/main_visual_mobile3.jpg') #0297ce no-repeat;
        background-size:contain;
    }
    .process1_slide_wrap .slide_box{
        background:url('../img/process1.jpg') 50% 0 #f2ede7 no-repeat;
    }
    .process2_slide_wrap .slide_box{
        background:url('../img/process2.jpg') 50% 0 #fff no-repeat;
    }
    #btn_center{
        border-left:none;
        border-right:none;
        border-top:solid 1px #aaa;
        border-bottom:solid 1px #aaa;
    }
    #btn_center.on{
        border-bottom:solid 4px #ff3366;
    }

    /* LECTURE */
    .process_wrap > p, .recommend_wrap > p{
        width:92%;
        font-size:20px;
        margin:0 auto;
    }
    .process_wrap > p:after, .recommend_wrap > p:after{
        height:18px;
    }
    .process_box{
        width:100%;
        padding:36px 0;
        background-size:cover;
    }
    .process_box.process1{
        padding:20px 0 46px;
    }
    .process1{
        background:url('../img/process1_mobile.jpg') 0 55% #f2ede7 no-repeat; 
    }
    .process2{
        /* background:url('../img/process2_mobile.jpg') 0 77% no-repeat;  */
    }
    .process{
        width:92%;
        margin:0 auto;
    }
    .process_title{
        width:60%;
        margin:0 0 0 auto;
    }
    .process_title span{
        font-size:26px;
        margin-top:6px;
    }
    .process1 .process .process_text{
        display:none;
    }
    .process_box .process a{
        display:block;
        float:inherit;
        width:32%;
        max-width:130px;
        text-align:center;
        padding:8px 0;
        margin:9% auto 0;
    }
    .process_box.process2 .process a{
        margin:58px auto 0;
    }
    .process2 .process{
        width:92%;
        padding:0;
        margin:auto;
    }
    .process2 .process .process_title{
        width:100%;
        margin:0;
    }
    .process_text{
        padding:10px 0 0;
    }

    .recommend_wrap{
        background:#fff;
    }
    .recommend_wrap > p span,
    .recommend_text,
    .lecture_more{
        display:none;
    }
    .recommend_wrap ul{
        width:100%;
        padding:0;
    }
    .recommend{
        width: 100%;
        margin-right: 0;
        height: 168px;
        background-size:cover;
    }
    .slider_text_box img.pc{
        display:none;
    }
    .slider_text_box img.mobile{
        display:block;
        width:100%;
    }
    .cs{
        padding:20px 0 0;
    }
    .cs > div{
        float:inherit;
        overflow:hidden;
        width:92%;
        padding:4%;
        border-bottom: solid 1px #ddd;
    }
    .cs .center{
        border-bottom:0;
    }

    .guide a{
        margin-bottom:0;
    }
}
@media all and (max-width:550px){
    .width_text{
        background:red;
    }
}
@media all and (max-width:414px){
    .width_text{
        background:orange;
    }
    .close_btn_area{
        right:-15%;
    }
}
@media all and (max-width:360px){
    .width_text{
        background:navy;
    }
    .process_box .process a {
        margin: 11% auto 0;
    }
}




/*------------------------------------ BX SLIDER CSS -----------------------------------------*/
/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
    position: relative;
    margin-bottom: 60px;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
  .bx-wrapper img {
    max-width: 100%;
    display: block;
  }
  .bxslider {
    margin: 0;
    padding: 0;
  }
  ul.bxslider {
    list-style: none;
  }
  .bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
  }
  /** THEME
  ===================================*/
  .bx-wrapper {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 5px solid #fff;
    background: #fff;
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }
  /* LOADER */
  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url('images/bx_loader.gif') center center no-repeat #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
  /* PAGER */
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active,
  .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #000;
  }
  .bx-wrapper .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    vertical-align: bottom;
    *zoom: 1;
    *display: inline;
  }
  .bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0;
  }
  /* DIRECTION CONTROLS (NEXT / PREV) */
  .bx-wrapper .bx-prev {
    left: 10px;
    background: url('images/controls.png') no-repeat 0 -32px;
  }
  .bx-wrapper .bx-prev:hover,
  .bx-wrapper .bx-prev:focus {
    background-position: 0 0;
  }
  .bx-wrapper .bx-next {
    right: 10px;
    background: url('images/controls.png') no-repeat -43px -32px;
  }
  .bx-wrapper .bx-next:hover,
  .bx-wrapper .bx-next:focus {
    background-position: -43px 0;
  }
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
  }
  .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
  }
  /* AUTO CONTROLS (START / STOP) */
  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }
  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url('images/controls.png') -86px -11px no-repeat;
    margin: 0 3px;
  }
  .bx-wrapper .bx-controls-auto .bx-start:hover,
  .bx-wrapper .bx-controls-auto .bx-start.active,
  .bx-wrapper .bx-controls-auto .bx-start:focus {
    background-position: -86px 0;
  }
  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url('images/controls.png') -86px -44px no-repeat;
    margin: 0 3px;
  }
  .bx-wrapper .bx-controls-auto .bx-stop:hover,
  .bx-wrapper .bx-controls-auto .bx-stop.active,
  .bx-wrapper .bx-controls-auto .bx-stop:focus {
    background-position: -86px -33px;
  }
  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
  }
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
  }
  /* IMAGE CAPTIONS */
  .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
  }
  .bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
  }