@charset "utf-8";

@font-face {
    font-family: 'NanumSquare';
    /* font-style: normal; */
    /* font-weight: 500; */
    src: local('NanumSquareR'),
        url('../../font/NanumSquareR.woff') format('woff'),
        url('../../font/NanumSquareR.ttf') format('truetype'),
        url('../../font/NanumSquareR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumSquareB';
    /* font-style: normal; */
    /* font-weight: 900; */
    src: local('NanumSquareEB'),
        url('../../font/NanumSquareEB.woff') format('woff'),
        url('../../font/NanumSquareEB.ttf') format('truetype'),
        url('../../font/NanumSquareEB.eot') format('embedded-opentype');
}

/* IF IE 10 */

html[data-useragent*='MSIE 10.0'] .head_mobile{
    height:unset;
}
html[data-useragent*='MSIE 10.0'] .head_mobile.on{
    height:100%;
}
html[data-useragent*='MSIE 10.0'] .head_mobile .mobile_dropwdown_wrap{
    height:unset;
}
html[data-useragent*='MSIE 10.0'] .head_mobile.on .mobile_dropwdown_wrap{
    height:100%;
}


/* HEADER */

#width_text{
    display:none;
    position: absolute;
    width: 80px;
    height: 20px;
    background: #444;
    top: 0;
    right: 0;
    color: #fff;
    text-align: center;
    z-index: 9999999999999;
}
header{
    position:absolute;
    width:100%;
    background:#fff;
    z-index: 99999999;
}
.head_wrap{
    position:relative;
    width:1122px;
    margin:24px auto 30px;
}
.head_wrap.mobile{display:none;}
.head_con{
    float:left;
}
.head_con img{
    display:block;
    width:60%;
}
.logo_box{
    width:20%;
}
.search_box{
    position:relative;
    width:50%;
}
.search_box input[type='text']{
    display:block;
    width:90%;
    padding:8px 4.5%;
    border: solid 3px #0071bc;
}
.search_box button{
    position: absolute;
    top: 3px;
    right: 4px;
    padding: 5px 10px;
    background: #fff;
}
.search_box button img{
    display:block;
    width:100%;
}
.util_box{
    position:absolute;
    top:0;
    right:0;
    width:30%;
}
.util_box p,
.util_box a{
    float:right;
    font-size: 12px;
    padding: 12px 0;
    margin:0 4%;
}
.util_box a{
    display:block;
}
.util_box .last_right{
    margin-right:0;
}


/* MENU */

.head_mobile{
    display:none;
}
.menu_wrap{
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.menu_wrap a:hover{
    color:#0071bc;
}
.menu_layout{
    width: 1122px;
    margin: 0 auto;
    overflow: hidden;
}
.menu_layout > * {
    float: left;
    overflow: hidden;
}
.mobile_btn button{
    padding: 20px;
    background: #fff;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.mobile_btn button span{
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background: #333;
}
.menu{
    width:82%;
}
.menu li{
    width: 25%;
    float: left;
}
.menu li a{
    display: block;
    font-family:"NanumSquare";
    font-size: 20px;;
    text-align: center;
    letter-spacing:-1px;
    padding: 20px 0;
}
.menu_tutor{
    border-left:solid 1px #ccc;
}
.menu_layout .menu_tutor{
    float: right;
}
.menu_tutor span{
    display: block;
    float: left;
    padding:14px 2px 0 14px;
}
.menu_tutor span img{
    width:100%;
}
.menu_tutor a{
    float: left;
    font-size: 20px;
    color: #0071bc;
    padding: 18px 0 20px;
}

/* dropdown menu */
.menu_dropdown_wrapper{
    display:none;
    border: solid 1px #0071bc;
    background: #fff;
}
.menu_dropdown_wrap{
    width:1120px;
    margin:0 auto;
}
.menu_dropdown{
    width:82%;
    padding-left:65px;
}
.menu_sub{
    float: left;
    width: 16.5%;
    padding-left: 8.5%;
    margin: 20px 0 20px -1px;
}
.menu_sub.classroom{
    margin: 20px 12px 20px -13px;
}
.menu_sub li a{
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 230%;
}
.menu_sub_line{
    float: left;
    display:block;
    width: 1px;
    height: 328px;
    background: #ccc;
}


/* MOBILE MENU */
.mobile_dropwdown_wrap{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:-webkit-fill-available;
    background:rgba(0,0,0,0.6);
}
.mobile_bg_box{
    position:relative;
    width:75%;
    min-width:250px;
    background:#fff;
}
.mobile_bg_box > div{
    border-top:solid 1px #ddd;
}
.close_btn_area{
    position: absolute;
    right: -12%;
    top: 10px;
    width: 30px;
}
.mobile_bg_box .close_btn_area{
    border:none;
    cursor:pointer;
}
.close_btn_area img{
    display:block;
    width:100%;
}
.mobile_menu.login{
    padding:10px 20px;
    border-bottom:solid 1px #ddd;
}
.mobile_menu.login span{
    display:block;
    float:left;
    width:36px;
}
.mobile_menu.login span img{
    display:block;
    width:100%;
}
.mobile_menu.login a{
    display:block;
    float:right;
    line-height:38px;
    padding-left:14px;
}
.mobile_menu.introduce{
    padding:0 20px;
    border-bottom: solid 2px #ddd;
}
.mobile_menu.introduce a{
    display: block;
    font-size: 18px;
    font-weight: 900;
    padding: 16px 0 16px 30px;
    background: url('../../img/channel_ic.png') 0% 45% no-repeat;
}
.mobile_menu button{
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    padding:16px 20px;
    background:url('../../img/menu_arr_down.png') #fff 90% 50% no-repeat;
    border-bottom:solid 1px #ddd;
}
.mobile_menu button:focus{
    background:#eee;
}
.mobile_menu ul{
    display:none;
}
.mobile_menu ul li{
}
.mobile_menu ul li a{
    display:block;
    font-size:14px;
    padding:10px 20px;
}
.mobile_menu ul .first_depth{
    background:#eee;
}
.mobile_menu ul .first_depth a{
    font-size:16px;
    letter-spacing:-1px;
    padding:15px 20px;
}


/* CONTENTS */
.contents_wrap_box{
    width:1122px;
    min-height:700px;
    padding-top:155px;
    margin:0 auto;
}
.contents_wrap_box.popup{
    width:98%;
    max-width:800px;
    margin:0 auto;
    padding-top:20px;
}

/* QUICK MENU */
.quick_menu_wrap{
    position:fixed;
    right:12%;
    bottom:22%;
    width:78px;
    height:355px;
    text-align:center;
    background:#fff;
    z-index:999999;
}
.quick_title{
    position:relative;
    font-family:"NanumSquare";
    font-size:18px;
    font-weight:900;
    color:#fff;
    letter-spacing:-1px;
    padding:6px 0;
    background:#374049;
}
.quick_title span{
    position:absolute;
    bottom:-4px;
    left:45%;
    display:block;
    width:10px;
    height:10px;
    transform:rotate(45deg);
    background:#374049;
}
.quick_menu_wrap ul{
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}
.quick_menu_list a{
    display:block;
    font-size:12px;
    text-align:center;
    line-height:120%;
    letter-spacing:-1px;
    padding:10px;
}
.quick_menu_list a img{
    display:block;
    width:70%;
    margin:0 auto;
}
.quick_top{
    font-size:14px;
    font-weight:900;
    color:#fff;
    letter-spacing:-1px;
    padding: 10px;
    margin-top:6px;
    background: #374049;
    cursor:pointer;
}

/* Top */
.process_history_box{
    font-size: 13px;
    float: right;
    padding: 14px 0 10px;
}
.process_history_box span{
    display: block;
    float: left;
    width: 11px;
    padding: 3px 0;
}
.process_history_box span img{
    display: block;
    width: 100%;
}
.process_history_box p{
    float: left;
    padding: 0 10px;
}
.top_area h1{
    clear: both;
    font-family:"NanumSquare";
    font-size: 44px;
    letter-spacing: -2px;
    padding-bottom: 16px;
    border-bottom: solid 1px #003366;
}
.top_area h1 span{
    font-family:"NanumSquare";
    color: #0180d3;
}
.top_text_box{
    padding: 20px 5% 0 5%;
    width: 90%;
    background: #1291de;
    border-bottom: solid 1px #1291de;
}
.top_text_box > span{
    float: right;
}
.top_text_box > span img{
    display:block;
}
.top_text_box p{
    float: left;
    width: 60%;
    font-size: 15px;
    letter-spacing: -1px;
    color: #fff;
    line-height: 150%;
}
.top_text_box .top_title{
    font-family:'NanumSquare';
    font-size: 34px;
}
.top_text_box p span{
    display:block;
}



/* NOTICE REGISTER */
.notice_register{
    margin-top:20px;
    border-top: solid 2px #1291de;
}
.contents_wrap_box.popup .notice_register{
    margin-top:0;
}
.editor_area{
    width:93%;
    padding:20px 2%;
    min-height:300px;
    margin:10px 1.5%;
    border:solid 1px #eee;
}
.contents_wrap_box.popup .form_box div iframe{
    min-height:100px;
}

/* FORM AREA */
.form_box{
    border-bottom:solid 1px #ccc;
}
.form_box .editor_area {
    width: 83%;
    padding:0;
    min-height: 100px;
    margin: 10px 1.5%;
    border:0;
}
.form_box .editor_area textarea{
    border:none;
    resize:none;
}
.form_box .editor_area textarea:focus{
    outline:none;
}
.form_box .editor_area.exist{
    padding:20px 2%;
}
.form_box.flex{
    clear:both;
    display:flex;
}
.form_box > div{
    float: left;
    width: 90%;
}
.form_box .title{
    background: #f7f7f7;
    width: 10%;
    line-height: 300%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.form_box div input[type='text'],
.form_box div .type{
    display:block;
    box-sizing:border-box;
    width:98%;
    padding:8px 1%;
    margin:10px 1% 6px;
    border:solid 1px #ddd;
}
.form_box div select.type{
    margin:6px 1%;
}

.form_box > .test{
    width:90%;
}
.form_box div iframe{
    display:block;
    width:100%;
    /* width:95%; */
    min-height:300px;
    padding:8px 1%;
    margin: 0;
    resize:none;
    box-sizing:border-box;
}
.form_box.half{
    float: left;
    width: 50%;
}
.form_box.half div input[type='text']{
    display: block;
    width: 90%;
    margin: 10px 3% 6px;
    padding: 8px 2%;
}
.form_box.half div{
    width:80%;
}
.form_box.half .title{
    width: 20%;
}



.form_box_score{
    padding:14px 0 0; 
}
.form_box_score .first_left{
    margin-left:10px;
}
.form_box_score span{
    display:inline-block;
    width:13px;
    height:13px;
    cursor:pointer;
    background:url('../../img/course/register_star_inactive.png') no-repeat;
}


/* NOTICE DETAIL BUTTON */
.detail_btn_area{
    text-align: center;
    padding:50px 0;
}
.detail_btn_area a,
.detail_btn_area button{
    display:inline-block;
    width: 20%;
    min-width: 170px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    text-align:center;
    padding: 20px 0;
    margin-bottom: 4px;
    background: #fff;
    border:solid 1px #ddd;
}
.detail_btn_area .bg_color{
    color:#fff;
    background:#0280d4;
    border:solid 1px #0280d4;
}


/* MEMBER WITHDRAW MODIFIED */
/* CONTENTS */
.util_wrap{
    width:100%;
    max-width:1122px;
    margin:50px auto;
}
.util_wrap h1{
    font-family: 'NanumSquare';
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -1px;
    padding-bottom:14px;
}
.util_step_box{
    padding: 40px 0 50px;
}
.util_step_box .active{
    background: #0180d3;
    border: solid 4px #0180d3;
}
.util_step_box .active p{
    color: #fff;
}
.util_step_box div{
    float: left;
    width: 17.8%;
    border-radius: 74px;
    padding: 24px 0;
    text-align: center;
    border: solid 4px #ddd;
}
.util_step_box div p{
    font-size: 16px;
    font-weight: 900;
    color: #888;
    font-family: 'NanumSquare';
}
.util_step_box .arrow{
    width: 8%;
    padding: 40px 0px;
    border: 0;
}
.signup_certification_box{
    padding-top: 30px;
}
.certification_tab_box{
    text-align: center;
}
.certification_tab_box button{
    width: 50%;
    padding: 10px 0;
    float: left;
    display: block;
    font-family: 'NanumSquare';
    font-size: 18px;
    font-weight: 900;
    color: #fff;
}
.certification_tab_box .on{
    background: #0a88d9;
    position: relative;
}
.certification_tab_box button.on:before {
    display: block;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0a88d9;
    bottom: -10px;
    left: 47%;
}
.certification_list{
    padding: 50px 0 60px;
    border-bottom: solid 1px #ddd;
}
.signup_input_list{
    padding:30px 0 20px;
}
.certification_list > div,
.signup_input_list > div{
    padding-bottom: 20px;
}
.certification_list > div p,
.signup_input_list > div p{
    font-family: 'NanumSquareB';
    font-size: 17px;
    color: #555;
    width: 160px;
    float: left;
    line-height: 220%;
}
.certification_list > div p:before,
.signup_input_list > div p:before{
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border: solid 4px #54a7d8;
    border-radius: 7px;
    float: left;
    margin: 10px 5% 0 0;
}
.certification_name .note{
    font-family: 'NanumGothic';
    width: 100%;
    text-indent: 160px;
    font-size: 14px;
    font-weight: 600;
    color: #999;
}
.certification_name .note:before{
    display:none;
}
.certification_name input[type='text'],
.signup_input_list > div input[type='text'],
.signup_input_list > div input[type='password']{
    display: block;
    float: left;
    padding: 10px 6px;
    border: solid 1px #ccc;
}
.certification_name input[type='text']{
    width:230px;
}
.signup_input_list > div input[type='text'],
.signup_input_list > div input[type='password']{
    width:460px;
}
.signup_input_list .certification_name.type_id input[type='text'] {
    width: 319px;
}
.signup_input_list .info_input_phone select{
    float:left;
    width:100px;
    padding:9px 6px;
    border:solid 1px #ccc;
}
.signup_input_list .info_input_phone input[type='text']{
    width:220px;
    border-left: 0;
}
.certification_gender input[type='radio'],
.signup_input_list > div input[type='radio']{
    display:block;
    float:left;
    width: 20px;
    height: 20px;
    margin-top:8px;
}
.info_input_phone button,
.info_input_address button,
.certification_name.type_id button{
    width:136px;
    font-family:'NanumSquare';
    font-size:16px;
    font-weight:900;
    color:#fff;
    padding:10px 0 9px;
    margin-left:4px;
    background:#0180d3;
}
.certification_gender span{
    float:left;
    padding:10px 10px 0 8px;
}
.certification_birth select{
    padding: 8px 6px;
    border: solid 1px #ccc;
}
.certification_birth select{
    width:80px;
}
.certification_note{
    padding: 30px 0 150px;
}
.certification_note p{
    font-size: 16px;
    color: #555;
    line-height: 150%;
    letter-spacing: -1px;
}
.certification_note p strong{
    font-size: 16px;
    font-weight: 500;
    color: #0180d3;
}
.certification_note p span{
    display: block;
}
.signup_input_list .info_input_address input[type='text'] {
    width: 320px;
}
.info_input_address textarea{
    margin-top: 8px;
    display: block;
    width: 100%;
    resize: none;
    min-height: 200px;
    border: solid 1px #ccc;
    float: left;
    padding:10px;
    box-sizing:border-box;
}
.signup_title_box p{
    font-size: 14px;
    color:#555;
    line-height: 130%;
}
.signup_title_box p .circle{
    display:block;
    float:left;
    width:4px;
    height:4px;
    margin:4px 4px 0 0;
    border:solid 2px #54a7d8;
    border-radius:4px;
}
.signup_title_box .signup_title{
    font-family: 'NanumSquareB';
    font-size: 24px;
    color: #0180d3;
    padding: 20px 0 4px;
}
.signup_title_box .signup_title.line{
    padding:20px 0 2px;
    margin-bottom:4px;
    border-bottom:solid 1px #ccc;
}
.signup_title_box p span{
    display:block;
}
.withdraw_note{
    background: #f3f3f3;
    padding: 20px;
}
.withdraw_note p{
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing:-1px;
}
.withdraw_note p strong{
    display: block;
    color: #0180d3;
}




/* FOOTER */
.footer_wrap{
    text-align:center;
    border-top:solid 1px #ddd;
}
.foot_link_box{
    width:56%;
    margin:0 auto;
}
.foot_link_box li{
    float:left;
    width:15%;
    margin-right:2%;
}
.foot_link_box .last_right{
    margin-right:0;
}
.foot_link_box li a{
    display:block;
    font-size:12px;
    color:#666;
    padding:16px 0;
}
.foot_link_box li:hover a{
    color:#111;
}
.foot_box{
    text-align:center;
    padding:16px 0 20px;
    background:#374049;
}
.foot_box p{
    display:inline-block;
    width:94%;
    font-size:12px;
    color:#eee;
    line-height:150%;
    margin:0 auto;
}
.foot_box p span{
    display:block;
    font-size:11px;
    color:#eee;
}


/* Media query */

@media all and (max-width:1700px){
    .quick_menu_wrap{
        right:6%;
    }
}
@media all and (max-width:1500px){
    .quick_menu_wrap{
        right:1%;
    }
}
@media all and (max-width:1122px){

    /* HEAD */
    .head_wrap,
    .menu_layout,
    .contents_wrap_box,
    .menu_dropdown_wrap{
        width:100%;
    }
    .util_box p,
    .util_box a{
        margin:0 2%;
    }
    .menu_wrap{
        border:none;
    }
    .menu{
        width:76%;
    }
    .menu_tutor a{
        padding:18px 10px 20px 0;
    }
    .menu_sub{
        width:15.5%;
        padding-left:7.5%;
    }
}
@media all and (max-width:420px){
    #width_text{
        color:#fff;
        background:green;
    }

    /* HEAD */
    .head_pc{
        display:none;
    }
    .head_mobile{
        display:block;
    }
    .head_wrap{
        margin:8px auto 0;
    }
    .head_mobile .menu_layout{
        display:inline-block;
        width:inherit;
    }
    .head_mobile .menu_wrap{
        float:left;
    }
    .logo_box {
        width:30%;
        max-width:150px;
        padding:6px 0 6px 20%;
    }
    .logo_box img{
        width:95%;
    }
    .search_box {
        width:92%;
        margin:0 4%;
    }
    .search_box input[type='text'] {
        padding:12px 4.5%;
    }
    .search_box button {
        top:inherit;
        bottom:4px;
        right:4px;
        padding:8px 10px;
    }
    .util_box{
        position:inherit;
        float:right;
        top:-5px;
        width:23%;
    }
    .util_box .last_right{
        font-size:14px;
        padding:23px 20px 0 0;
    }
    .util_box .pc{
        display:none;
    }
    .mobile_btn{
        float:left;
    }
    .mobile_btn button{
        border:none;
        padding:15px 20px 0;
    }
    .head_mobile .menu_dropdown_wrapper{
        position:absolute;
        top:0;
        left:0;
        width:80%;
        z-index:99999;
    }
    .head_mobile .menu_dropdown_wrap{
        width:100%;
    }
    .head_mobile .menu_dropdown{
        padding-left:20px;
    }
    .head_mobile .menu_sub{
        float:inherit;
        width:100%;
        padding:0;
    }
    .close_btn_area{
        right:-15%;
    }



    /* CONTENTS */
    .contents_wrap_box {
        width:92%;
        min-height:600px;
        padding-top:95px;
        margin:0 auto;
    }
    .quick_menu_wrap{
        display:none;
    }
    .detail_btn_area a{
        width:40%;
        min-width:inherit;
        padding:16px 0;
    }

    /* Top */
    .top_area h1 {
        font-size: 30px;
        padding-bottom:10px;
    }
    .process_history_box {
        float: left;
    }
    .top_text_box{
        width:90%;
        padding:20px 5%;
    }
    .top_text_box > span,
    .top_text_box p span{
        display:none;
    }
    .top_text_box p{
        width:100%;
        text-align:center;
    }


    /* NOTICE REGISTER */
    .form_box div{
        width:80%;
    }
    .form_box .title{
        width:20%;
    }
    .form_box div input[type='text']{
        width:90%;
        padding:8px 3%;
        margin:10px 2% 6px;
    }
    .form_box div iframe{
        width:90%;
        padding:8px 3%;
        margin:10px 2%;
    }
    .detail_btn_area{
        padding:30px 0;
    }

    .contents_wrap_box.popup .form_box .editor_area,
    .contents_wrap_box.page .form_box .editor_area{
        width:73%;
    }


    /* MEMBER WITHDRAW */
    .util_wrap{
        margin:30px auto;
    }
    .signup_input_list > div input[type='text'],
    .signup_input_list > div input[type='password'] {
        width: 100%;
        box-sizing: border-box;
    }
    .withdraw_note{
        padding:15px;
    }
    .withdraw_note p{
        font-size: 14px;
    }
    .certification_name .note{
        text-indent:0;
    }





    /* FOOTER */
    .foot_link_box{
        width:100%;
    }
    .foot_link_box li{
        width:31%;
    }
    .foot_link_pc{
        display:none;
    }
}

@media all and (max-width:380px){
    .detail_btn_area a,
    .detail_btn_area button{
        width:49%;
        min-width:inherit;
    }
}
@media all and (max-width:360px){
    .certification_name .note{
        font-size:13px;
    }
}