@charset "utf-8";

@font-face {
    font-family: 'NanumSquare';
    /* font-style: normal; */
    /* font-weight: 500; */
    src: local('NanumSquareR'),
        url('../../font/NanumSquareR.woff') format('woff'),
        url('../../font/NanumSquareR.ttf') format('truetype'),
        url('../../font/NanumSquareR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumSquareB';
    /* font-style: normal; */
    /* font-weight: 900; */
    src: local('NanumSquareEB'),
        url('../../font/NanumSquareEB.woff') format('woff'),
        url('../../font/NanumSquareEB.ttf') format('truetype'),
        url('../../font/NanumSquareEB.eot') format('embedded-opentype');
}

/* IF IE 10 */

html[data-useragent*='MSIE 10.0'] .head_mobile{
    height:unset;
}
html[data-useragent*='MSIE 10.0'] .head_mobile.on{
    height:100%;
}
html[data-useragent*='MSIE 10.0'] .head_mobile .mobile_dropwdown_wrap{
    height:unset;
}
html[data-useragent*='MSIE 10.0'] .head_mobile.on .mobile_dropwdown_wrap{
    height:100%;
}


/* HEADER */

#width_text{
    display:none;
    position: absolute;
    width: 80px;
    height: 20px;
    background: #444;
    top: 0;
    right: 0;
    color: #fff;
    text-align: center;
    z-index: 9999999999999;
}
header{
    position:absolute;
    width:100%;
    background:#fff;
    z-index: 99999999;
}
.head_wrap{
    position:relative;
    width:1122px;
    margin:24px auto 30px;
}
.head_wrap.mobile{display:none;}
.head_con{
    float:left;
}
.head_con img{
    display:block;
    width:60%;
}
.logo_box{
    width:20%;
}
.search_box{
    position:relative;
    width:50%;
}
.search_box input[type='text']{
    display:block;
    width:90%;
    padding:8px 4.5%;
    border: solid 3px #0071bc;
}
.search_box button{
    position: absolute;
    top: 3px;
    right: 4px;
    padding: 5px 10px;
    background: #fff;
}
.search_box button img{
    display:block;
    width:100%;
}
.util_box{
    position:absolute;
    top:0;
    right:0;
    width:30%;
}
.util_box p,
.util_box a{
    float:right;
    font-size: 12px;
    padding: 12px 0;
    margin:0 4%;
}
.util_box a{
    display:block;
}
.util_box .last_right{
    margin-right:0;
}


/* MENU */

.head_mobile{
    display:none;
}
.menu_wrap{
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.menu_wrap a:hover{
    color:#0071bc;
}
.menu_layout{
    width: 1122px;
    margin: 0 auto;
    overflow: hidden;
}
.menu_layout > * {
    float: left;
    overflow: hidden;
}
.mobile_btn button{
    padding: 20px;
    background: #fff;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.mobile_btn button span{
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background: #333;
}
.menu{
    width:82%;
}
.menu li{
    width: 25%;
    float: left;
}
.menu li a{
    display: block;
    font-family:"NanumSquare";
    font-size: 20px;;
    text-align: center;
    letter-spacing:-1px;
    padding: 20px 0;
}
.menu_tutor{
    border-left:solid 1px #ccc;
}
.menu_layout .menu_tutor{
    float: right;
}
.menu_tutor span{
    display: block;
    float: left;
    padding:14px 2px 0 14px;
}
.menu_tutor span img{
    width:100%;
}
.menu_tutor a{
    float: left;
    font-size: 20px;
    color: #0071bc;
    padding: 18px 0 20px;
}

/* dropdown menu */
.menu_dropdown_wrapper{
    display:none;
    border: solid 1px #0071bc;
    background: #fff;
}
.menu_dropdown_wrap{
    width:1120px;
    margin:0 auto;
}
.menu_dropdown{
    width:82%;
    padding-left:65px;
}
.menu_sub{
    float: left;
    width: 16.5%;
    padding-left: 8.5%;
    margin: 20px 0 20px -1px;
}
.menu_sub.classroom{
    margin: 20px 12px 20px -13px;
}
.menu_sub li a{
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 230%;
}
.menu_sub_line{
    float: left;
    display:block;
    width: 1px;
    height: 328px;
    background: #ccc;
}


/* MOBILE MENU */
.mobile_dropwdown_wrap{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:-webkit-fill-available;
    background:rgba(0,0,0,0.6);
}
.mobile_bg_box{
    position:relative;
    width:75%;
    min-width:250px;
    background:#fff;
}
.mobile_bg_box > div{
    border-top:solid 1px #ddd;
}
.close_btn_area{
    position: absolute;
    right: -12%;
    top: 10px;
    width: 30px;
}
.mobile_bg_box .close_btn_area{
    border:none;
    cursor:pointer;
}
.close_btn_area img{
    display:block;
    width:100%;
}
.mobile_menu.login{
    padding:10px 20px;
    border-bottom:solid 1px #ddd;
}
.mobile_menu.login span{
    display:block;
    float:left;
    width:36px;
}
.mobile_menu.login span img{
    display:block;
    width:100%;
}
.mobile_menu.login a{
    display:block;
    float:right;
    line-height:38px;
    padding-left:14px;
}
.mobile_menu.introduce{
    padding:0 20px;
    border-bottom: solid 2px #ddd;
}
.mobile_menu.introduce a{
    display: block;
    font-size: 18px;
    font-weight: 900;
    padding: 16px 0 16px 30px;
    background: url('../../img/channel_ic.png') 0% 45% no-repeat;
}
.mobile_menu button{
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    padding:16px 20px;
    background:url('../../img/menu_arr_down.png') #fff 90% 50% no-repeat;
    border-bottom:solid 1px #ddd;
}
.mobile_menu button:focus{
    background:#eee;
}
.mobile_menu ul{
    display:none;
}
.mobile_menu ul li{
}
.mobile_menu ul li a{
    display:block;
    font-size:14px;
    padding:10px 20px;
}
.mobile_menu ul .first_depth{
    background:#eee;
}
.mobile_menu ul .first_depth a{
    font-size:16px;
    letter-spacing:-1px;
    padding:15px 20px;
}


/* CONTENTS */
.contents_wrap_box{
    width:1122px;
    padding-top:155px;
    margin:0 auto;
}

/* QUICK MENU */
.quick_menu_wrap{
    position:fixed;
    right:12%;
    bottom:22%;
    width:78px;
    height:355px;
    text-align:center;
    background:#fff;
    z-index:999999;
}
.quick_title{
    position:relative;
    font-family:"NanumSquare";
    font-size:18px;
    font-weight:900;
    color:#fff;
    letter-spacing:-1px;
    padding:6px 0;
    background:#374049;
}
.quick_title span{
    position:absolute;
    bottom:-4px;
    left:45%;
    display:block;
    width:10px;
    height:10px;
    transform:rotate(45deg);
    background:#374049;
}
.quick_menu_wrap ul{
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}
.quick_menu_list a{
    display:block;
    font-size:12px;
    text-align:center;
    line-height:120%;
    letter-spacing:-1px;
    padding:10px;
}
.quick_menu_list a img{
    display:block;
    width:70%;
    margin:0 auto;
}
.quick_top{
    font-size:14px;
    font-weight:900;
    color:#fff;
    letter-spacing:-1px;
    padding: 10px;
    margin-top:6px;
    background: #374049;
    cursor:pointer;
}

/* Top */
.process_history_box{
    font-size: 13px;
    float: right;
    padding: 14px 0 10px;
}
.process_history_box span{
    display: block;
    float: left;
    width: 11px;
    padding: 3px 0;
}
.process_history_box span img{
    display: block;
    width: 100%;
}
.process_history_box p{
    float: left;
    padding: 0 10px;
}
.top_area h1{
    clear: both;
    font-family:"NanumSquare";
    font-size: 44px;
    letter-spacing: -2px;
    padding-bottom: 16px;
    border-bottom: solid 1px #003366;
}
.top_area h1 span{
    font-family:"NanumSquare";
    color: #0180d3;
}

.tutorial .contents_wrap_box .top_area{
    width:1122px;
    margin:0 auto;
}


/* Question Search */
.support_search_wrap{
    text-align: center;
    padding: 20px 0 26px;
    border-bottom: solid 1px #ddd;
}
.support_search_wrap p{
    font-family: "NanumSquare";
    font-size: 18px;
    padding: 10px 0 20px;
}
.support_search_wrap .support_search_text{
    font-size: 24px;
    padding: 0;
}
.support_search_box{}
.support_search_box select{
    min-width: 50px;
    padding: 6px 4px;
    border: solid 1px #50a6f9;
}
.support_search_box input[type='text']{
    line-height: 130%;
    padding: 6px 4px;
    border: solid 1px #50a6f9;
}
.support_search_box span{
    display: inline-block;
    width: 30px;
    margin-bottom: -10px;
    cursor:pointer;
}
.support_search_box span img{
    display:block;
    width:100%;
}

/* Question Tab */
.support_tab_box{
    text-align: center;
}
.support_tab_box button{
    position: relative;
    width: 13.5%;
    padding: 20px 0;
    margin-right: 1%;
    background: #fff;
}
.support_tab_box .last_right{
    margin-right:0;
}
.support_tab_box button:before{
    display:none;
    content: '';
    position: absolute;
    top: 10px;
    left: 15%;
    width: 56px;
    height: 56px;
    background: rgba(51,204,255,0.5);
    border-radius: 28px;
}
.support_tab_box button.active:before{
    display:block;
}
.support_tab_box button:after{
    display:none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #35a6d9;
    width: 0;
    height: 0;
}
.support_tab_box button.active:after,
.support_tab_box button:hover:after{
    display:block;
}
.support_tab_box button span{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
.support_tab_box button span img{
    display: inline-block;
}
.support_tab_box button p{
    font-family: "NanumSquare";
    font-size: 18px;
    font-weight: 900;
    color: #999;
}

/* Posting List */
.support_support_list_box{
    padding: 36px 5%;
    border: solid 3px #35a6d9;
    border-radius: 20px;
}
.support_support_list_box > p{
    font-family: "NanumSquareB";
    font-size: 20px;
    color: #555;
    padding-bottom: 20px;
}
.support_support_list_box ul{}
.support_list_box{
    padding: 4px 0;
    cursor:pointer;
}
.support_list_box span{
    display: block;
    float: left;
    font-family: "NanumSquareB";
    font-size: 30px;
    color: #0180d3;
}
.support_list_box p{
    float: left;
    width: 92%;
    font-size: 18px;
    line-height: 150%;
    padding-left: 1.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.support_list_wrap{
    display:none;
}
#support_qna_1{
    display:block;
}

/* User CS */
.user_cs_notice_box{
    padding: 20px 0;
    float: left;
    width: 49%;
}
.user_cs_title{
    padding: 20px;
}
.user_cs_title p{
    float: left;
    width: 50%;
    font-family:"NanumSquare";
    font-size: 24px;
    letter-spacing: -1px;
}
.user_cs_title p span{
    font-size:14px;
    color:#444;
}
.user_cs_title p.user_cs_more{
    float: right;
    width: 50px;
    font-size: 14px;
    line-height: 170%;
    cursor:pointer;
}
.user_cs_notice_box > ul,
.user_cs_counsel > ul{
    min-height:76px;
    padding: 20px;
    border-top: solid 1px #333;
    border-bottom:solid 1px #ccc;
}
.user_cs_list{
    position: relative;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 12px;
}
.user_cs_list:before {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    content: '';
    width: 2px;
    height: 2px;
    background: #333;
}
.user_cs_list a{
    display: block;
}
.user_cs_list a p{
    float: left;
    overflow:hidden;
    width:70%;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.user_cs_list a p.user_cs_list_date{
    float: right;
    width:75px;
}
.user_cs_list:hover a p{
    color:#888;
}
.user_cs_counsel{
    float: right;
    width: 49%;
    padding: 20px 0;
}


/* Remote Service */
.support_remote_service{
    padding:50px 0;
}
.support_remote_text{
    float: left;
    width: 24%;
    min-width: 216px;
}
.support_remote_text p{
    font-family: "NanumSquare";
    font-size: 14px;
    font-weight: 900;
    color: #888;
    letter-spacing: -1px;
    line-height: 130%;
    padding: 20px 0 50px;
}
.support_remote_text p span,
.support_remote_title span,
.support_step_list p span{
    display: block;
}
.support_remote_text .support_remote_title{
    font-size: 24px;
    color:#333;
    padding: 0;
}
.support_text_btn_box{
    max-width: 220px;
}
.support_text_btn_box button{
    display: block;
    float: left;
    width: 48%;
    font-family: "NanumSquare";
    font-size: 16px;
    font-weight: 900;
    padding: 6px 0;
    margin-right: 2%;
    background: #fff;
    border: solid 1px #ccc;
}
.support_text_btn_box .last_right{
    margin-right:0;
}
.support_text_btn_box button:hover{
    color:#fff;
    background:#0066cc;
}
.support_remote_step{
    float: right;
    width: 76%;
}
.support_step_list{
    padding-bottom: 30px;
}
.support_step_list li{
    display: block;
    float: left;
    width: 22%;
    text-align: center;
    padding: 43px 0;
    margin-right:2%;
    border: solid 1px #ddd;
    border-radius: 200px;
    min-height: 90px;
}
.support_step_list .last_right{
    margin-right:0;
}
.support_step_list li p{
    font-size: 14px;
    letter-spacing: -1px;
    color: #555;
    line-height: 130%;
}
.support_step_list li .support_step_list_title{
    font-family: "NanumSquare";
    font-size: 18px;
    font-weight: 900;
}
.support_step_list_title strong{
    display: block;
    font-family: "NanumSquare";
    font-size: 24px;
    font-weight: 900;
    color: #0066cc;
    padding: 10px 0;
}
.support_step_text_list{
    
}
.support_step_text_list li{}
.support_step_text_list li p{
    font-size: 14px;
    font-weight: 600;
    color: #999;
    line-height: 150%;
}


/* FOOTER */
.footer_wrap{
    text-align:center;
    border-top:solid 1px #ddd;
}
.foot_link_box{
    width:56%;
    margin:0 auto;
}
.foot_link_box li{
    float:left;
    width:15%;
    margin-right:2%;
}
.foot_link_box .last_right{
    margin-right:0;
}
.foot_link_box li a{
    display:block;
    font-size:12px;
    color:#666;
    padding:16px 0;
}
.foot_link_box li:hover a{
    color:#111;
}
.foot_box{
    text-align:center;
    padding:16px 0 20px;
    background:#374049;
}
.foot_box p{
    display:inline-block;
    width:94%;
    font-size:12px;
    color:#eee;
    line-height:150%;
    margin:0 auto;
}
.foot_box p span{
    display:block;
    font-size:11px;
    color:#eee;
}


/* Media query */

@media all and (max-width:1700px){
    .quick_menu_wrap{
        right:6%;
    }
}
@media all and (max-width:1500px){
    .quick_menu_wrap{
        right:1%;
    }
}
@media all and (max-width:1122px){

    /* HEAD */
    .head_wrap,
    .menu_layout,
    .contents_wrap_box,
    .menu_dropdown_wrap{
        width:100%;
    }
    .util_box p,
    .util_box a{
        margin:0 2%;
    }
    .menu_wrap{
        border:none;
    }
    .menu{
        width:76%;
    }
    .menu_tutor a{
        padding:18px 10px 20px 0;
    }
    .menu_sub{
        width:15.5%;
        padding-left:7.5%;
    }
}
@media all and (max-width:420px){
    #width_text{
        color:#fff;
        background:green;
    }

    /* HEAD */
    .head_pc{
        display:none;
    }
    .head_mobile{
        display:block;
    }
    .head_wrap{
        margin:8px auto 0;
    }
    .head_mobile .menu_layout{
        display:inline-block;
        width:inherit;
    }
    .head_mobile .menu_wrap{
        float:left;
    }
    .logo_box {
        width:30%;
        max-width:150px;
        padding:6px 0 6px 20%;
    }
    .logo_box img{
        width:95%;
    }
    .search_box {
        width:92%;
        margin:0 4%;
    }
    .search_box input[type='text'] {
        padding:12px 4.5%;
    }
    .search_box button {
        top:inherit;
        bottom:4px;
        right:4px;
        padding:8px 10px;
    }
    .util_box{
        position:inherit;
        float:right;
        top:-5px;
        width:23%;
    }
    .util_box .last_right{
        font-size:14px;
        padding:23px 20px 0 0;
    }
    .util_box .pc{
        display:none;
    }
    .mobile_btn{
        float:left;
    }
    .mobile_btn button{
        border:none;
        padding:15px 20px 0;
    }
    .head_mobile .menu_dropdown_wrapper{
        position:absolute;
        top:0;
        left:0;
        width:80%;
        z-index:99999;
    }
    .head_mobile .menu_dropdown_wrap{
        width:100%;
    }
    .head_mobile .menu_dropdown{
        padding-left:20px;
    }
    .head_mobile .menu_sub{
        float:inherit;
        width:100%;
        padding:0;
    }
    .close_btn_area{
        right:-15%;
    }



    /* CONTENTS */
    .contents_wrap_box {
        width:92%;
        padding-top:95px;
        margin:0 auto;
    }
    .quick_menu_wrap{
        display:none;
    }

    /* Top */
    .top_area h1 {
        font-size: 30px;
        padding-bottom:10px;
    }
    .process_history_box {
        float: left;
    }


    .support_search_wrap .support_search_text{
        font-size:20px;
        line-height:130%;
    }
    .support_search_box select,
    .support_search_box input[type='text']{
        border: solid 2px #50a6f9;
    }
    .support_search_box select{
        width:25%;
    }
    .support_search_box input[type='text']{
        width:40%;
    }
    .support_search_wrap p{
        font-size:15px;
    }
    .support_search_box span {
        width: 32px;
        margin-bottom: -11px;
    }
    .support_tab_box button{
        width:32%;
        letter-spacing:-1px;
        padding:10px 0;
        margin-right:0;
    }
    .support_tab_box button p{
        font-size:16px;
    }
    .support_tab_box button.active:after,
    .support_tab_box button:hover:after{
        display:none;
    }
    .support_tab_box{
        padding:10px 0;
    }
    .support_support_list_box{
        padding:30px 5%;
    }
    .support_support_list_box > p{
        text-align:center;
    }
    .support_list_box{
        padding:6px 0;
    }
    .support_list_box span {
        width: 16%;
    }
    .support_list_box p {
        width: 80%;
        font-size: 16px;
        line-height: 150%;
        padding-left: 1.5%;
        white-space: pre-wrap;
    }

    /* User CS */
    .user_cs_notice_box > ul, .user_cs_counsel > ul {
        padding: 20px 10px 10px;
        min-height:80px;
    }
    .user_cs_notice_box,
    .user_cs_counsel{
        width:100%;
        padding:0;
    }
    .user_cs_title{
        padding:20px 0 10px;
    }

    /* Remote Service */
    .support_remote_text,
    .support_remote_step{
        float:none;
        width:100%;
    }
    .support_remote_step{
        padding-top:20px;
    }
    .support_remote_service{
        padding-top:30px;
    }
    .support_remote_text{
        text-align:center;
    }
    .support_remote_text p span, .support_remote_title span, .support_step_list p span {
        display:none;
    }
    .support_remote_text p{
        padding:20px 0;
    }
    .support_text_btn_box{
        width:100%;
        max-width:inherit;
    }
    .support_step_list li {
        width:48.2%;
        min-height:102px;
        padding:32px 0 34px;
        margin-top:5px;
    }
    .support_step_list .mobile_last_right{
        margin-right:0;
    }
    .support_step_list li p{
        width:75%;
        margin:0 auto;
    }
    .support_step_list li .support_step_list_title{
        width:100%;
    }
    .support_step_text_list{
        padding-bottom:50px;
    }
    .support_step_text_list li p{
        font-size:13px;
    }


    /* FOOTER */
    .foot_link_box{
        width:100%;
    }
    .foot_link_box li{
        width:31%;
    }
    .foot_link_pc{
        display:none;
    }
}
@media all and (max-width:360px){
    .support_tab_box button{
        width:49%;
    }
    .support_tab_box .last_right {
        /* margin-right: 50%; */
    }
    
    .support_step_list li{
        padding:24px 0  26px;
    }
    .support_step_list li p {
        width: 79%;
        margin: 0 auto;
    }
}
@media all and (max-width:320px){
    .support_step_list li p{
        width:80%;
    }
}