html, body {
  height: 100%;
}
/* head bar */
div.top {
  height:5px;
  width: 100%;
}
#header {
  width: 100%;
  height: 100%;
  background-color: #0096dd;
}

div.left {
  position: absolute;
  top: 5px;
  left: 0;
  width: 208px;
  height: 100%;
  z-index: 1;
}
div.right {
  position: absolute;
  top: 5px;
  left: 209px;
  right: 0px;      /* 2014.06.11 add */
  /* min-width: 900px; */ /* 2014.06.11 del */
  height: 100%;
  z-index: 2;
}
div.bottom {
  position: absolute;
  left: 0;
  top: 800px;
  width: 100%;        /* 2014.06.11 re-edit */
  height: 91px;
  z-index: 3;
}

iframe {
  border:0px;
  width:100%;
  height: 100%;
}