@charset "utf-8";

@font-face {
    font-family: 'NanumSquare';
    /* font-style: normal; */
    /* font-weight: 500; */
    src: local('NanumSquareR'),
        url('../../font/NanumSquareR.woff') format('woff'),
        url('../../font/NanumSquareR.ttf') format('truetype'),
        url('../../font/NanumSquareR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumSquareB';
    /* font-style: normal; */
    /* font-weight: 900; */
    src: local('NanumSquareEB'),
        url('../../font/NanumSquareEB.woff') format('woff'),
        url('../../font/NanumSquareEB.ttf') format('truetype'),
        url('../../font/NanumSquareEB.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumMyeongjo';
    /* font-style: normal; */
    /* font-weight: 900; */
    src: local('NanumMyeongjo'),
        url('../../font/NanumMyeongjo.woff') format('woff'),
        url('../../font/NanumMyeongjo.ttf') format('truetype'),
        url('../../font/NanumMyeongjo.eot') format('embedded-opentype');
}

html{
    overflow-y:hidden !important;
}

/* IF IE 10 */

html[data-useragent*='MSIE 10.0'] .head_mobile{
    height:unset;
}
html[data-useragent*='MSIE 10.0'] .head_mobile.on{
    height:100%;
}
html[data-useragent*='MSIE 10.0'] .head_mobile .mobile_dropwdown_wrap{
    height:unset;
}
html[data-useragent*='MSIE 10.0'] .head_mobile.on .mobile_dropwdown_wrap{
    height:100%;
}


/* HEADER */




/* CONTENTS */
.contents_wrap_box{
    width:1122px;
    min-height:700px;
    padding-top:95px;
    margin:0 auto;
}
.contents_wrap_box.popup{
    width:98%;
    max-width:800px;
    margin:0 auto;
    padding-top:20px;
}



/* Top */
.process_history_box{
    font-size: 13px;
    float: right;
    padding: 14px 0 10px;
}
.process_history_box span{
    display: block;
    float: left;
    width: 11px;
    padding: 3px 0;
}
.process_history_box span img{
    display: block;
    width: 100%;
}
.process_history_box p{
    float: left;
    padding: 0 10px;
}
.top_area h1{
    clear: both;
    font-family:"NanumSquare";
    font-size: 44px;
    letter-spacing: -2px;
    padding-bottom: 16px;
    border-bottom: solid 1px #003366;
}
.top_area h1 span{
    font-family:"NanumSquare";
    color: #0180d3;
}
.top_text_box{
    padding: 20px 5% 0 5%;
    width: 90%;
    background: #1291de;
    border-bottom: solid 1px #1291de;
}
.top_text_box > span{
    float: right;
}
.top_text_box > span img{
    display:block;
}
.top_text_box p{
    float: left;
    width: 60%;
    font-size: 15px;
    letter-spacing: -1px;
    color: #fff;
    line-height: 150%;
}
.top_text_box .top_title{
    font-family:'NanumSquare';
    font-size: 34px;
}
.top_text_box p span{
    display:block;
}



/* NOTICE REGISTER */
.notice_register{
    margin-top:20px;
    border-top: solid 2px #1291de;
}
.contents_wrap_box.popup .notice_register{
    margin-top:0;
}
.editor_area{
    width:93%;
    padding:20px 2%;
    min-height:300px;
    margin:10px 1.5%;
    border:solid 1px #eee;
}
.contents_wrap_box.popup .form_box div iframe{
    min-height:100px;
}

/* FORM AREA */
.form_box{
    border-bottom:solid 1px #ccc;
}
.form_box .editor_area {
    width: 87%;
    padding:0;
    min-height: 100px;
    margin: 10px 1.5%;
    border:0;
}
.form_box .editor_area textarea{
    border:none;
    resize:none;
}
.form_box .editor_area textarea:focus{
    outline:none;
}
.form_box .editor_area.exist{
    padding:20px 2%;
}
.form_box.flex{
    clear:both;
    display:flex;
}
.form_box > div{
    float: left;
    width: 90%;
}
.form_box .title{
    background: #f7f7f7;
    width: 10%;
    line-height: 300%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.form_box div input[type='text'],
.form_box div .type{
    display:block;
    box-sizing:border-box;
    width:98%;
    padding:8px 1%;
    margin:10px 1% 6px;
    border:solid 1px #ddd;
}
.form_box div select.type{
    margin:6px 1%;
}

.form_box > .test{
    width:90%;
}
.form_box div iframe{
    display:block;
    width:100%;
    /* width:95%; */
    min-height:300px;
    padding:8px 1%;
    margin: 0;
    resize:none;
    box-sizing:border-box;
}
.form_box.half{
    float: left;
    width: 50%;
}
.form_box.half div input[type='text']{
    display: block;
    width: 90%;
    margin: 10px 3% 6px;
    padding: 8px 2%;
}
.form_box.half div{
    width:80%;
}
.form_box.half .title{
    width: 20%;
}



.form_box_score{
    padding:14px 0 0; 
}
.form_box_score .first_left{
    margin-left:10px;
}
.form_box_score span{
    display:inline-block;
    width:13px;
    height:13px;
    cursor:pointer;
    background:url('../../img/course/register_star_inactive.png') no-repeat;
}


/* NOTICE DETAIL BUTTON */
.detail_btn_area{
    text-align: center;
    padding:50px 0;
}
.detail_btn_area a,
.detail_btn_area button{
    display:inline-block;
    width: 20%;
    min-width: 170px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    text-align:center;
    padding: 20px 0;
    margin-bottom: 4px;
    background: #fff;
    border:solid 1px #ddd;
}
.detail_btn_area .bg_color{
    color:#fff;
    background:#0280d4;
    border:solid 1px #0280d4;
}


/* MEMBER WITHDRAW MODIFIED */
/* CONTENTS */
.util_wrap{
    width:100%;
    max-width:1122px;
    margin:50px auto;
}
.util_wrap h1{
    font-family: 'NanumSquare';
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -1px;
    padding-bottom:14px;
}
.util_step_box{
    padding: 40px 0 50px;
}
.util_step_box .active{
    background: #0180d3;
    border: solid 4px #0180d3;
}
.util_step_box .active p{
    color: #fff;
}
.util_step_box div{
    float: left;
    width: 17.8%;
    border-radius: 74px;
    padding: 24px 0;
    text-align: center;
    border: solid 4px #ddd;
}
.util_step_box div p{
    font-size: 16px;
    font-weight: 900;
    color: #888;
    font-family: 'NanumSquare';
}
.util_step_box .arrow{
    width: 8%;
    padding: 40px 0px;
    border: 0;
}
.signup_certification_box{
    padding-top: 30px;
}
.certification_tab_box{
    text-align: center;
}
.certification_tab_box button{
    width: 50%;
    padding: 10px 0;
    float: left;
    display: block;
    font-family: 'NanumSquare';
    font-size: 18px;
    font-weight: 900;
    color: #fff;
}
.certification_tab_box .on{
    background: #0a88d9;
    position: relative;
}
.certification_tab_box button.on:before {
    display: block;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0a88d9;
    bottom: -10px;
    left: 47%;
}
.certification_list{
    padding: 50px 0 60px;
    border-bottom: solid 1px #ddd;
}
.signup_input_list{
    padding:30px 0 20px;
}
.certification_list > div,
.signup_input_list > div{
    padding-bottom: 20px;
}
.certification_list > div p,
.signup_input_list > div p{
    font-family: 'NanumSquareB';
    font-size: 17px;
    color: #555;
    width: 160px;
    float: left;
    line-height: 220%;
}
.certification_list > div p:before,
.signup_input_list > div p:before{
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border: solid 4px #54a7d8;
    border-radius: 7px;
    float: left;
    margin: 10px 5% 0 0;
}
.certification_name .note{
    font-family: 'NanumGothic';
    width: 100%;
    text-indent: 160px;
    font-size: 14px;
    font-weight: 600;
    color: #999;
}
.certification_name .note:before{
    display:none;
}
.certification_name input[type='text'],
.signup_input_list > div input[type='text'],
.signup_input_list > div input[type='password']{
    display: block;
    float: left;
    padding: 10px 6px;
    border: solid 1px #ccc;
}
.certification_name input[type='text']{
    width:230px;
}
.signup_input_list > div input[type='text'],
.signup_input_list > div input[type='password']{
    width:460px;
}
.signup_input_list .certification_name.type_id input[type='text'] {
    width: 319px;
}
.signup_input_list .info_input_phone select{
    float:left;
    width:100px;
    padding:9px 6px;
    border:solid 1px #ccc;
}
.signup_input_list .info_input_phone input[type='text']{
    width:220px;
    border-left: 0;
}
.certification_gender input[type='radio'],
.signup_input_list > div input[type='radio']{
    display:block;
    float:left;
    width: 20px;
    height: 20px;
    margin-top:8px;
}
.info_input_phone button,
.info_input_address button,
.certification_name.type_id button{
    width:136px;
    font-family:'NanumSquare';
    font-size:16px;
    font-weight:900;
    color:#fff;
    padding:10px 0 9px;
    margin-left:4px;
    background:#0180d3;
}
.certification_gender span{
    float:left;
    padding:10px 10px 0 8px;
}
.certification_birth select{
    padding: 8px 6px;
    border: solid 1px #ccc;
}
.certification_birth select{
    width:80px;
}
.certification_note{
    padding: 30px 0 150px;
}
.certification_note p{
    font-size: 16px;
    color: #555;
    line-height: 150%;
    letter-spacing: -1px;
}
.certification_note p strong{
    font-size: 16px;
    font-weight: 500;
    color: #0180d3;
}
.certification_note p span{
    display: block;
}
.signup_input_list .info_input_address input[type='text'] {
    width: 320px;
}
.info_input_address textarea{
    margin-top: 8px;
    display: block;
    width: 100%;
    resize: none;
    min-height: 200px;
    border: solid 1px #ccc;
    float: left;
    padding:10px;
    box-sizing:border-box;
}
.signup_title_box p{
    font-size: 14px;
    color:#555;
    line-height: 130%;
}
.signup_title_box p .circle{
    display:block;
    float:left;
    width:4px;
    height:4px;
    margin:4px 4px 0 0;
    border:solid 2px #54a7d8;
    border-radius:4px;
}
.signup_title_box .signup_title{
    font-family: 'NanumSquareB';
    font-size: 24px;
    color: #0180d3;
    padding: 20px 0 4px;
}
.signup_title_box .signup_title.line{
    padding:20px 0 2px;
    margin-bottom:4px;
    border-bottom:solid 1px #ccc;
}
.signup_title_box p span{
    display:block;
}
.withdraw_note{
    background: #f3f3f3;
    padding: 20px;
}
.withdraw_note p{
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing:-1px;
}
.withdraw_note p strong{
    display: block;
    color: #0180d3;
}



/* 2019 */
.class_bg{
	background:url("../../img/myclass/classbg.png") no-repeat;
	height:842px;
	width:595px;
}
.class_bg > table{
	position:relative;
	top:200px;
	left:75px;
}
.class_bg table tr td{
	font-family:'NanumMyeongjo';
	font-size:20px;
	padding-bottom:20px;
	padding-left:5px;
}
.tday{
	left:173px !important;
	top:461px !important;
}