@charset "utf-8";

body{
    /* background:#444; */
}
.learnig_wrap{
    width:1100px;
    margin:50px auto;
    background:#444;
}
.learnig_lecture_head p{
    display:inline-block;
    color:#fff;
    padding:10px 0;
    font-size: 20px;
}
.learnig_lecture_title{
    float:left;
}
.learnig_lecture_time{
    float:right;
}
.learnig_btn_area{
    display:inline-block;
    width:inherit;
    text-align:center;
    padding:10px 0;
    margin:0 auto;
}
.learnig_test_image{
    margin:10px auto 0;
}
.learnig_test_image img{
    display: block;
    width:100%;
}
.learnig_btn_area button{
    position:relative;
    color:#fff;
    padding:10px 2%;
    margin-right:16px;
    border:none;
    background:#555;
}
.learnig_btn_area button:hover{
    background:#666;
}
.learnig_wrap .last_right{
    margin-right:0;
}
.learnig_btn_area .last_right{
    margin-right:0;
}




/* CONTENTS */
.contents_wrap_box{
    width:1122px;
    min-height:600px;
    padding-top:155px;
    margin:0 auto;
}
.contents_wrap_box.popup{
    width:98%;
}




/* --- Media Query --- */

/* @media all and (max-width:420px){
    .learnig_wrap{
        width:100%;
        margin:10px auto;
    }
    .learnig_lecture_head p{
        display:block;
        float:none;
        text-align:center;
    }
    .learnig_btn_area button{
        margin-right:1%;
        margin-bottom:6px;
    }
} */

/* Media query */

/* @media all and (max-width:1700px){
    .quick_menu_wrap{
        right:6%;
    }
}
@media all and (max-width:1500px){
    .quick_menu_wrap{
        right:1%;
    }
} */
@media all and (max-width:1122px){

    /* HEAD */
    .head_wrap,
    .menu_layout,
    .contents_wrap_box,
    .menu_dropdown_wrap{
        width:100%;
    }
    .util_box p,
    .util_box a{
        margin:0 2%;
    }
    .menu_wrap{
        border:none;
    }
    .menu{
        width:76%;
    }
    .menu_tutor p{
        padding:18px 10px 20px 0;
    }
    .menu_sub{
        width:15.5%;
        padding-left:7.5%;
    }
}
@media all and (max-width:420px){
    /* HEAD */
    .head_pc{
        display:none;
    }
    .head_mobile{
        display:block;
    }
    .head_wrap{
        margin:8px auto 0;
    }
    .head_mobile .menu_layout{
        display:inline-block;
        width:inherit;
    }
    .head_mobile .menu_wrap{
        float:left;
    }
    .logo_box {
        width:30%;
        max-width:150px;
        padding:6px 0 6px 20%;
    }
    .logo_box img{
        width:95%;
    }
    .search_box {
        width:92%;
        margin:0 4%;
    }
    .search_box input[type='text'] {
        padding:12px 4.5%;
    }
    .search_box button {
        top:inherit;
        bottom:4px;
        right:4px;
        padding:8px 10px;
    }
    .util_box{
        position:inherit;
        float:right;
        top:-5px;
        width:23%;
    }
    .util_box .last_right{
        font-size:14px;
        padding:23px 20px 0 0;
    }
    .util_box .pc{
        display:none;
    }
    .mobile_btn{
        float:left;
    }
    .mobile_btn button{
        border:none;
        padding:15px 20px 0;
    }
    .head_mobile .menu_dropdown_wrapper{
        position:absolute;
        top:0;
        left:0;
        width:80%;
        z-index:99999;
    }
    .head_mobile .menu_dropdown_wrap{
        width:100%;
    }
    .head_mobile .menu_dropdown{
        padding-left:20px;
    }
    .head_mobile .menu_sub{
        float:inherit;
        width:100%;
        padding:0;
    }
    .close_btn_area{
        right:-15%;
    }



    /* CONTENTS */
    .contents_wrap_box {
        width:92%;
        min-height:600px;
        padding-top:95px;
        margin:0 auto;
    }
    .quick_menu_wrap{
        display:none;
    }
    .detail_btn_area a{
        width:40%;
        min-width:inherit;
        padding:16px 0;
    }

    /* Top */
    .top_area h1 {
        font-size: 30px;
        padding-bottom:10px;
    }
    .process_history_box {
        float: left;
    }
    .top_text_box{
        width:90%;
        padding:20px 5%;
    }
    .top_text_box > span,
    .top_text_box p span{
        display:none;
    }
    .top_text_box p{
        width:100%;
        text-align:center;
    }


    /* FOOTER */
    .foot_link_box{
        width:100%;
    }
    .foot_link_box li{
        width:31%;
    }
    .foot_link_pc{
        display:none;
    }
}