@charset "utf-8";

@font-face {
    font-family: 'NanumSquare';
    /* font-style: normal; */
    /* font-weight: 500; */
    src: local('NanumSquareR'),
        url('../../font/NanumSquareR.woff') format('woff'),
        url('../../font/NanumSquareR.ttf') format('truetype'),
        url('../../font/NanumSquareR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumSquareB';
    /* font-style: normal; */
    /* font-weight: 900; */
    src: local('NanumSquareEB'),
        url('../../font/NanumSquareEB.woff') format('woff'),
        url('../../font/NanumSquareEB.ttf') format('truetype'),
        url('../../font/NanumSquareEB.eot') format('embedded-opentype');
}

html body{
    background:#fff;
}

/* 팝업 공통 */
.popup{
    width:776px;
    margin:0 auto;
}
.popup_head{
    background: #ddd;
}
.popup_head p{
    width: 80%;
    float: left;
    padding: 10px 10px 10px 20px;
}
.popup_head button{
    display:block;
    float:right;
    font-size:24px;
    padding:4px 20px 0;
    background:#ddd;
    cursor:pointer;
}
.popup_fix{
    /* width:800px; */
    background:#fff;
    border-bottom:solid 1px #ddd;
}
.popup_title{
    margin: 10px 20px;
    padding: 10px 0 12px;
    border-bottom: solid 3px darkblue;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -1px;
}
.popup_title span{
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    border-left: solid 2px #ccc;
    padding-left: 10px;
    margin-left: 6px;
    margin-top: 4px;
}
.popup_info_box,
.popup_score_box{
    margin: 10px 20px;
    overflow: hidden;
    border:solid 2px #ddd;
}
.popup_question{
    padding:0 20px 20px;
    /* height:490px; */
    background:#fff;
    /* overflow-y:scroll; */
}
.question_list_box{
    overflow:hidden;
    padding: 20px 0;
    border-bottom: solid 2px #ccc;
}
.question_list_box > div{
    position:relative;
    overflow: hidden;
}
.question_num{
    width: auto;
    float: left;
    font-weight: 900;
    color: skyblue;
    font-size: 20px;
    letter-spacing: -1px;
}
.question_num span{}
.question_answer{
    width: 680px;
    float: right;
}
.question_answer.explanation{
    width:690px;
}
.question_answer > p{
    padding-left: 4px;
    margin:2px 0 15px;
    font-weight:600;
}
.question_answer input[type='text']{
    padding: 4px 6px;
    font-size: 16px;
}
.answer_box{}
.answer_box li{
    margin-bottom:10px;
}
.answer_box .last_bottom{
    margin-bottom:0;
}
.answer_box li input[type='radio']{
    display:block;
    float:left;
    width: 18px;
    height: 18px;
    margin-right:6px;
}
.answer_box li input[type='checkbox']{
    display: block;
    float: left;
    width: 18px;
    height: 18px;
}
.answer_box li p{
    float:right;
    width:655px;
    line-height:120%;
}



/* 시험 응시 */

.popup_info_box{
    padding:20px 20px 10px;
}
.popup_info{
    width: 50%;
    float: left;
    line-height:130%;
}
.popup_info span{
    display: block;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 8px;
}
.popup_info_list{
    float: right;
    width: 30%;
}
.popup_info_list li{
    margin-bottom: 10px;
    font-weight: 900;
}
.popup_info_list .last_bottom{
    margin-bottom:0;
}
.popup_info_list li span{
    font-weight: normal;
}
.btn_submit{
    /* position:absolute;
    bottom:20px;
    left:0; */
    width:100%;
    text-align:center;
    padding:10px 0 20px;
}
.btn_submit button{
    padding: 10px 20px;
    margin:0 auto;
    background: midnightblue;
    color: #fff;
    font-size: 16px;
    font-family: 'NanumGothicBold';
    font-weight: 900;
}



/* 시험 결과 */

.popup_score_box{
    padding:10px 20px;
}
.popup_score{
    float:left;
    width:65%;
    border:solid 1px #aaa;
}
.popup_score p{
    float:left;
    text-align:center;
}
.score_text{
    width:30%;
    line-height:20px;
    padding:10px 0;
    border-right:solid 1px #aaa;
}
.score_value{
    width: 60%;
    line-height: 60px;
    font-size: 18px;
    font-weight: 900;
}
.popup_info_list.score{
    margin-top:10px;
}
.question_answer.explanation{
    width: 624px;
}
.answer_box.explanation li p {
    width: 600px;
}
.marking{
    position:absolute;
    top:0;
    left:-5px;
    width: 55px;
    font-size: 50px;
    text-align: center;
    margin-top: -5px;
}
.marking.blue{
    color:blue;
}
.marking.red{
    color:red;
}
.answer_paper{
    float: right;
    width: 624px;
    border: solid 2px #555;
    margin-top: 10px;
}
.answer_paper div{
    text-align: center;
    overflow: hidden;
}
.first_bottom{
    border-bottom: solid 1px #555;
}
.answer_paper div p{
    float: left;
    width: 62px;
    text-align: center;
    padding: 10px;
    line-height: 120%;
}
#answer_num,
#answer_sheet{
    width: 520px;
    float: right;
    border-left: solid 1px #555;
}



/* 설문 */

/* .popup_question.survey{
    height:514px;
} */
.question_answer.survey textarea{
    display: block;
    width: 650px;
    height: 100px;
    padding: 10px;
    line-height: 130%;
}



/* 과정리포트 제출/결과 */

.report_box{
    /* height:564px; */
    padding: 20px;
    /* overflow-y:scroll; */
}
.report_box li{
    border: solid 1px #ddd;
}
.report_box li p{
    float: left;
    width: 80px;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}
.report_box li > p + p{
    border-left:solid 1px #ddd;
}
.report_box li input[type='text']{
    float: left;
    display: block;
    width: 552px;
    padding: 10px 10px 9px;
    font-size: 16px;
    text-align: center;
    border-left:solid 1px #ddd;
    border-top:none;
    border-right:none;
    border-bottom:none;
}
.report_box .half{
    width:366px;
    float:left;
}
.report_box .half input[type='text']{
    width:268px;
}
.report_box .left{
    margin-left:-1px;
}
.report_box .view{
    clear:both;
    min-height:100px;
}
.report_box .view p{
    height:100px;
}
.report_box .view textarea{
    display: block;
    float:left;
    width: 640px;
    height: 100px;
    padding: 10px;
    border-left:solid 1px #ddd;
    border-top:none;
    border-right:none;
    border-bottom:none;
    resize: none;
}
.view div{
    min-height: 100px;
    float: left;
    width: 480px;
    padding: 10px 90px;
    border-left: solid 1px #ddd;
}
.view div img{
    display:block;
    float:left;
    width:50px;
    margin:10px 20px;
}
#report_file{
    width:500px;
}
.btn_area{
    float:left;
    width:140px;
}
.btn_area button{
    font-size:16px;
    padding:10px 11px 11px;
}
#report_score{
    display: block;
    float: left;
    padding: 10px;
    width: 640px;
    text-align: center;
    border-left: solid 1px #ddd;
}



/* 과정리포트 첨삭 */
.report_box.manage li p{
    width:92px;
    min-height:16px;
}
.report_box li .result_area{
    padding: 10px;
    width: 620px;
}
.report_box.manage li input[type='text'],
.report_box.manage .view textarea{
    width:617px;
}
.report_box.manage .half input[type='text']{
    width:248px;
}
.report_box.manage .view div{
    width:460px;
}
.report_box.manage input[type='file']{
    width:557px;
    font-size: 16px;
    padding:6px 0 7px 6px;
    background:#ddd;
    border:none;
}
.report_box.manage .view .report_files{
    width:130px;
    padding:10px;
}
.report_box.manage .view .btn_area {
    padding: 10px;
    width: 620px;
}
.report_files{
    display:inline-block;
}
.report_files img{
    display:block
}
.report_files p{}
.report_box.manage .report_files p{
    height:inherit;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
}
.view .report_files img{
    float:initial;
    margin:10px auto;
}







/* 과정리포트 첨삭_검색 */
/* 지금은 사용 X */

.report_manage_box{
    margin: 10px 0 10px 20px;
    float: left;
    width: 80%;
}
.report_manage_box li{
    padding: 10px 0;
}
.report_manage_box .half{
    width: 320px;
    float: left;
}
.report_manage_box li p{
    float: left;
    width: 70px;
    line-height: 150%;
}
.report_manage_box input[type='text']{
    width: 210px;
    margin: 0;
    border: solid 1px #ccc;
    padding: 4px 10px;
}
.report_manage_box select{
    width: 234px;
    padding: 4px 10px;
    border:solid 1px #ddd;
}
.report_manage_box select option{}
.report_manage_box .year{
    width: 68px;
    margin-right: 4px;
    padding: 4px 10px;
}
.report_manage_box .year option{}
.report_select{
    width: 234px;
    padding: 4px 10px;
}
.report_select option{}
.btn_search_box{
    float: left;
    width: 120px;
    margin-right: 20px;
    margin: 20px 20px 0 0;
    height: 120px;
}
.btn_search_box button{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 900;
    font-family: 'NanumGothicBold';
}

.report_manage_list{
    clear: both;
    margin: 0 20px;
}
.report_manage_list > p{
    margin-bottom: 6px;
    padding: 4px;
    background: #eee;
    display: inline-block;
}
.report_manage_list > p span{
    font-size: 14px;
}
.report_table{
    display: table;
    width:100%;
}
.report_table_row{
    display: table-row;
}
.report_table_cell{
    display: table-cell;
    height:16px;
    text-align:center;
    padding:4px;
    border-bottom:solid 1px #ccc;
}



/* --- Media Query --- */
@media all and (max-width:420px){
    .popup{
        width:100%;
    }
    .popup_info,
    .popup_info_list,
    .popup_score{
        width:100%;
        float:none;
    }
    .answer_paper{
        width:inherit;
    }
    .popup_info{
        text-align:center;
    }
    .popup_info_box,
    .popup_score_box{
        padding:10px;
    }
    .popup_info_list{
        margin-top:10px;
    }
    .popup_info_list li{
        width: 50%;
        display: block;
        float: left;
    }
    .question_answer{
        width:100%;
    }
    .question_answer input[type='text']{
        display:block;
        width:93%;
        margin:0 auto;
    }
    .question_answer.explanation input[type='text'] {
        width: 92%;
    }
    .report_box.manage input[type='file']{
        padding-left: 5%;
        width: 95%;
    }
    .answer_box li p,
    .answer_box.explanation li p{
        width:90%;
    }
    .question_answer.explanation{
        width:80%;
    }
    #popup_survey .question_answer{
        width:85%;
    }
    .report_box.manage li p{
        width:25%;
    }
    .report_box.manage li input[type='text'],
    .report_box.manage .view textarea,
    .report_box.manage .half input[type='text'],
    .report_box.manage .view .btn_area{
        width:65%;
    }
    .question_answer.survey textarea {
        width: 92%;
    }
    .question_answer > p{
        line-height:130%;
    }
    .answer_box li input[type='radio']{
        margin-top:2px;
    }
    .question_list_box > div{
        padding-top:0;
    }
    .answer_paper div p {
        width: 50px;
        padding: 10px 2%;
    }
    #answer_num, #answer_sheet {
        width: 75%;
    }
    .report_box .half {
        width: 99.5%;
        display: block;
    }
    .btn_area button {
        width: 100%;
        padding: 10px 0;
        margin-top: 6px;
    }
    .report_box .left{
        margin-left:0;
    }

}

@media all and (max-width:360px){
    .question_answer.explanation,
    #popup_survey .question_answer{
        width:100%;
    }
    #answer_num, #answer_sheet {
        width: 72%;
    }
    .report_box li .mobile{
        padding:18px 0;
    }
    .question_answer input[type='text'] {
        width: 93%;
    }
}