@charset "utf-8";

@font-face {
    font-family: 'NanumSquare';
    /* font-style: normal; */
    /* font-weight: 500; */
    src: local('NanumSquareR'),
        url('../../font/NanumSquareR.woff') format('woff'),
        url('../../font/NanumSquareR.ttf') format('truetype'),
        url('../../font/NanumSquareR.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'NanumSquareB';
    /* font-style: normal; */
    /* font-weight: 900; */
    src: local('NanumSquareEB'),
        url('../../font/NanumSquareEB.woff') format('woff'),
        url('../../font/NanumSquareEB.ttf') format('truetype'),
        url('../../font/NanumSquareEB.eot') format('embedded-opentype');
}

/* IF IE 10 */

html[data-useragent*='MSIE 10.0'] .head_mobile{
    height:unset;
}
html[data-useragent*='MSIE 10.0'] .head_mobile.on{
    height:100%;
}
html[data-useragent*='MSIE 10.0'] .head_mobile .mobile_dropwdown_wrap{
    height:unset;
}
html[data-useragent*='MSIE 10.0'] .head_mobile.on .mobile_dropwdown_wrap{
    height:100%;
}


/* HEADER */

#width_text{
    display:none;
    position: absolute;
    width: 80px;
    height: 20px;
    background: #444;
    top: 0;
    right: 0;
    color: #fff;
    text-align: center;
    z-index: 9999999999999;
}
header{
    position:absolute;
    width:100%;
    background:#fff;
    z-index: 99999999;
}
.head_wrap{
    position:relative;
    width:1122px;
    margin:24px auto 30px;
}
.head_wrap.mobile{display:none;}
.head_con{
    float:left;
}
.head_con img{
    display:block;
    width:60%;
}
.logo_box{
    width:20%;
}
.search_box{
    position:relative;
    width:50%;
}
.search_box input[type='text']{
    display:block;
    width:90%;
    padding:8px 4.5%;
    border: solid 3px #0071bc;
}
.search_box button{
    position: absolute;
    top: 3px;
    right: 4px;
    padding: 5px 10px;
    background: #fff;
}
.search_box button img{
    display:block;
    width:100%;
}
.util_box{
    position:absolute;
    top:0;
    right:0;
    width:30%;
}
.util_box p,
.util_box a{
    float:right;
    font-size: 12px;
    padding: 12px 0;
    margin:0 4%;
}
.util_box a{
    display:block;
}
.util_box .last_right{
    margin-right:0;
}


/* MENU */

.head_mobile{
    display:none;
}
.menu_wrap{
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.menu_wrap a:hover{
    color:#0071bc;
}
.menu_layout{
    width: 1122px;
    margin: 0 auto;
    overflow: hidden;
}
.menu_layout > * {
    float: left;
    overflow: hidden;
}
.mobile_btn button{
    padding: 20px;
    background: #fff;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.mobile_btn button span{
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background: #333;
}
.menu{
    width:82%;
}
.menu li{
    width: 25%;
    float: left;
}
.menu li a{
    display: block;
    font-family:"NanumSquare";
    font-size: 20px;;
    text-align: center;
    letter-spacing:-1px;
    padding: 20px 0;
}
.menu_tutor{
    border-left:solid 1px #ccc;
}
.menu_layout .menu_tutor{
    float: right;
}
.menu_tutor span{
    display: block;
    float: left;
    padding:14px 2px 0 14px;
}
.menu_tutor span img{
    width:100%;
}
.menu_tutor p{
    float: left;
    font-size: 20px;
    color: #0071bc;
    padding: 18px 0 20px;
}

/* dropdown menu */
.menu_dropdown_wrapper{
    display:none;
    border: solid 1px #0071bc;
    background: #fff;
}
.menu_dropdown_wrap{
    width:1120px;
    margin:0 auto;
}
.menu_dropdown{
    width:82%;
    padding-left:65px;
}
.menu_sub{
    float: left;
    width: 16.5%;
    padding-left: 8.5%;
    margin: 20px 0 20px -1px;
}
.menu_sub.classroom{
    margin: 20px 12px 20px -13px;
}
.menu_sub li a{
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 230%;
}
.menu_sub_line{
    float: left;
    display:block;
    width: 1px;
    height: 328px;
    background: #ccc;
}


/* MOBILE MENU */
.mobile_dropwdown_wrap{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:-webkit-fill-available;
    background:rgba(0,0,0,0.6);
}
.mobile_bg_box{
    position:relative;
    width:75%;
    min-width:250px;
    background:#fff;
}
.mobile_bg_box > div{
    border-top:solid 1px #ddd;
}
.close_btn_area{
    position: absolute;
    right: -10%;
    top: 10px;
    width: 30px;
}
.mobile_bg_box .close_btn_area{
    border:none;
    cursor:pointer;
}
.close_btn_area img{
    display:block;
    width:100%;
}
.mobile_menu.login{
    padding:10px 20px;
    border-bottom:solid 1px #ddd;
}
.mobile_menu.login span{
    display:block;
    float:left;
    width:36px;
}
.mobile_menu.login span img{
    display:block;
    width:100%;
}
.mobile_menu.login a{
    display:block;
    float:left;
    line-height:38px;
    padding-left:14px;
}
.mobile_menu.introduce{
    padding:0 20px;
    border-bottom: solid 2px #ddd;
}
.mobile_menu.introduce a{
    display: block;
    font-size: 18px;
    font-weight: 900;
    padding: 16px 0 16px 30px;
    background: url('../../img/channel_ic.png') 0% 45% no-repeat;
}
.mobile_menu button{
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    padding:16px 20px;
    background:url('../../img/menu_arr_down.png') #fff 90% 50% no-repeat;
    border-bottom:solid 1px #ddd;
}
.mobile_menu button:focus{
    background:#eee;
}
.mobile_menu ul{
    display:none;
}
.mobile_menu ul li{
}
.mobile_menu ul li a{
    display:block;
    font-size:14px;
    padding:10px 20px;
}
.mobile_menu ul .first_depth{
    background:#eee;
}
.mobile_menu ul .first_depth a{
    font-size:16px;
    letter-spacing:-1px;
    padding:15px 20px;
}


/* CONTENTS */
.contents_wrap_box{
    width:1122px;
    padding-top:155px;
    margin:0 auto;
}


/* QUICK MENU */
.quick_menu_wrap{
    position:fixed;
    right:12%;
    bottom:22%;
    width:78px;
    height:355px;
    text-align:center;
    background:#fff;
    z-index:999999;
}
.quick_title{
    position:relative;
    font-family:"NanumSquare";
    font-size:18px;
    font-weight:900;
    color:#fff;
    letter-spacing:-1px;
    padding:6px 0;
    background:#374049;
}
.quick_title span{
    position:absolute;
    bottom:-4px;
    left:45%;
    display:block;
    width:10px;
    height:10px;
    transform:rotate(45deg);
    background:#374049;
}
.quick_menu_wrap ul{
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}
.quick_menu_list a{
    display:block;
    font-size:12px;
    text-align:center;
    line-height:120%;
    letter-spacing:-1px;
    padding:10px;
}
.quick_menu_list a img{
    display:block;
    width:70%;
    margin:0 auto;
}
.quick_top{
    font-size:14px;
    font-weight:900;
    color:#fff;
    letter-spacing:-1px;
    padding: 10px;
    margin-top:6px;
    background: #374049;
    cursor:pointer;
}

/* Top */
.process_history_box{
    font-size: 13px;
    float: right;
    padding: 14px 0 10px;
}
.process_history_box span{
    display: block;
    float: left;
    width: 11px;
    padding: 3px 0;
}
.process_history_box span img{
    display: block;
    width: 100%;
}
.process_history_box p{
    float: left;
    padding: 0 10px;
}
.top_area h1{
    clear: both;
    font-family:"NanumSquare";
    font-size: 44px;
    letter-spacing: -2px;
    padding-bottom: 16px;
    border-bottom: solid 1px #003366;
}
.top_area h1 span{
    font-family:"NanumSquare";
    color: #0180d3;
}


/* REGISTER COURSE */
.register_course_title{
    border-bottom: solid 1px #ddd;
    text-align:center;
}
.register_course_title div{
    display:inline-block;
    width: inherit;
    padding: 20px 0 10px;
    margin: 0 auto;
}
.register_course_title div h2{
    font-family: "NanumSquareB";
    font-size: 35px;
    padding-bottom: 12px;
}
.register_course_title div p{
    float: left;
    width: 50px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    margin-right: 2px;
    background: #ff6666;
}
.register_course_title div .bg_other{
    background:#99cc33;
}
.register_course_contents{
    width: 85%;
    padding: 30px 0;
    margin: 0 auto;
}
.register_course_image{
    float: left;
    width: 35%;
}
#register_big_img{}
#register_big_img img{
    display: block;
    width: 100%;
}
.register_image_list{
    padding-top: 10px;
}
.register_image_list_item{
    position:relative;
    display: block;
    float: left;
    width: 32%;
    margin-right: 2%;
}
.register_image_list .last_right{
    margin-right:0;
}
.register_image_list_item img{
    display: block;
    width: 100%;
}
.register_image_list li:after{
    display:block;
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
}
.register_image_list li.active:after{
    display:none;
}
.register_course_review{
    text-align: center;
    margin-top: 15px;
}
.register_course_review > span{}
.register_course_review > span img{}
.register_course_review p{
    display: inline;
    font-size: 14px;
}
.register_course_review p span{}
.register_course_info{
    float: right;
    width: 450px;
}
.register_course_info_text{}
.register_course_info_text p{
    float: left;
    width: 50%;
    font-size: 16px;
    line-height: 200%;
}
.register_course_info_text .register_course_info_title{
    font-weight: 500;
    letter-spacing: 1px;
}
.register_course_info_text div{
    float: left;
    width: 50%;
}
.register_course_info_text div select{
    padding: 4px 2%;
    width: 96%;
    margin-top: 2px;
    font-size: 16px;
}
.register_course_info_text div select option{}
.register_course_info_text div p{
    width: 100%;
    font-size: 14px;
    color: #999;
    line-height: 140%;
    padding-top: 10px;
    letter-spacing: -1px;
}
.register_course_info_text div p span{}
.register_payment{
    font-family: "NanumSquare";
    font-weight: 900;
    font-size: 24px;
    padding: 20px 0 40px;
}
.register_payment span{
    color: #666;
}
.register_payment span strong{
    font-family: "NanumSquare";
    font-size: 36px;
    color: #048ae3;
}
.register_btn_area{
}
.register_btn_area button{
    display: block;
    float: left;
    width: 31.5%;
    margin-right: 1.5%;
    background: #fff;
    border: solid 1px #ddd;
    font-family: "NanumSquare";
    font-size: 20px;
    padding: 6px 0;
}
.register_btn_area .last_right{
    margin-right:0;
}


/* REGISTER COURSE TAB CONTENTS */

.register_tab_contents_wrap{}
.register_tab_box{}
.register_tab_box button{
    position:relative;
    font-family: "NanumSquare";
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    padding: 10px 0;
    display: block;
    float: left;
    width: 33.3%;
    border-right: solid 1px #fff;
    background: #374049;
}
.register_tab_box button.active{
    background:#4c555f;
}
.register_tab_box button.active:after{
    position:absolute;
    bottom:-10px;
    left:47%;
    display:block;
    content:'';
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #374049;
}   
.register_tab_box .last_right{
    border-right:0;
}
.register_tab_content_box{
    display:none;
    padding:40px 0 60px;
}
#introduce{
    display:block;
}
#compose{
    /* padding: 40px 6%; */
}
#estimate{
    min-height:800px;
    /* padding: 40px 6%; */
}
#introduce > ul{
    padding-bottom:50px;
}
.register_introduce_list{
    padding: 14px 0;
    border-bottom: dashed 1px #ddd;
}
.register_introduce_list > div{
    float:right;
    width:84%;
}
.register_introduce_list > p{
    float: left;
    width:78%;
}
.register_introduce_list div p {
    line-height: 150%;
}
.register_introduce_list > p,
.register_introduce_goal_list li p,
.register_introduce_target_list li p{
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 150%;
}
.register_introduce_goal_list li,
.register_introduce_target_list li{
    margin-bottom:4px;
}
.register_introduce_list .register_introduce_list_title{
    width: 16%;
    font-size: 18px;
    font-weight: 700;
    text-indent: 6%;
    color: #555;
}
.register_introduce_goal_list,
.register_introduce_target_list{
    float: left;
    width: 84%;
}
.register_introduce_goal_list li{}
.register_introduce_goal_list li p{}
.register_introduce_target_list li{}
.register_introduce_target_list li p{}
.register_introduce_list > span{
    display: block;
    float: left;
    width: 12%;
}
.register_introduce_list span img{
    display: block;
    width: 100%;
}
.register_introduce_list > div,
.register_tutor_explain > div{
    float: left;
    width: 72%;
}
.register_tutor_explain{}
.register_tutor_explain p{
    float: left;
    width: 90%;
    line-height:150%;
}
.register_tutor_explain .register_tutor_title{
    font-size: 16px;
    font-weight: 600;
    width: 8%;
    padding: 0 1% 30px;
    text-align: center;
}
.register_review_box{
    padding:0 6%;
}
.register_content_title{
    font-family: 'NanumSquare';
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 20px;
}
.register_review_table{
    border-top: solid 2px #0071bc;
    text-align: center;
    width: 100%;
}
.register_review_table tr{
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 200%;
    border-bottom: solid 1px #ccc;
}
.register_review_table tr th{
    font-weight: 500;
    border-right: solid 1px #ccc;
}
.register_review_table tr td{
    padding: 10px 0;
    border-right: solid 1px #ccc;
}
.register_review_table tr .register_review_lecture{
    max-width:400px;
    text-align:left;
    text-indent: 2%;
}
.register_review_lecture a{
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width:90%;
    margin-bottom:-10px;
}
.register_review_table tr .last_right{
    border-right:0;
}
.register_review_col1{
    width: 6%;
}
.register_review_col3,
.register_review_col5{
    width: 10%;
}
.register_review_table tr td span{
    width: 13px;
    display: inline-block;
}
.register_review_table tr td span img{
    display:block;
    width:100%;
}
#compose > p{
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 150%;
    padding-bottom: 10px;
}
#compose > p span{
    display:block;
}
#compose > p strong{
    color: #0071bc;
    font-weight: 500;
}
.register_compose_table{
    width: 100%;
    border-top: solid 2px #0071bc;
}
.register_compose_table tr{
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 200%;
    text-align: center;
    border-bottom: solid 1px #ccc;
}
.register_compose_table tr .register_compose_lecture{
    max-width:400px;
    text-align:left;
}
.register_compose_lecture p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 96%;
    margin-bottom: -10px;
}
.register_compose_table tr th{
    background: #eee;
    border-right: solid 1px #ddd;
}
.register_compose_table tr td{
    border-right: solid 1px #ddd;
    padding: 10px 0;
}
.register_compose_table tr .last_right{
    border-right:0;
}
.register_compose_table tr .right_border{
    border-right:0;
}
.register_compose_table tr th input[type='checkbox'],
.register_compose_table tr td input[type='checkbox']{
    display: block;
    width: 16px;
    height: 16px;
    margin: 10px auto 0;
}
.register_compose_table tr td span{
    display: inline-block;
    width: 16px;
    vertical-align:sub;
}
.register_compose_table tr td span img{
    width:100%;
}
.register_compose_col1{
    width: 5%;
}
.register_compose_col3,
.register_compose_col4{
    width: 10%;
}


#compose .register_course_list_text {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #eee;
    border: solid 1px #ccc;
    border-bottom: 0;
}
.register_course_list{
    padding:10px 20px;
    border: solid 1px #ccc;
}
.register_course_list p{
    box-sizing:border-box;
    font-size:16px;
    line-height:150%;
}
.n_course_list_left{
    width:90%;
    float:left;
}
.n_course_list_right{
    float:right;
    width:10%;
    text-align:right;
}


.register_estimate_table{
    width: 100%;
    border-top: solid 2px #0071bc;
}
.register_estimate_table tr{
    font-size: 16px;
    line-height: 200%;
    letter-spacing: -1px;
    text-align: center;
    border-bottom: solid 1px #ddd;
}
.register_estimate_table tr th{
    width:30%;
    font-weight: 500;
    background: #eee;
    border-right: solid 1px #ddd;
}
.register_estimate_table tr td{
    border-right: solid 1px #ddd;
}


/* FOOTER */
.footer_wrap{
    text-align:center;
    border-top:solid 1px #ddd;
}
.foot_link_box{
    width:56%;
    margin:0 auto;
}
.foot_link_box li{
    float:left;
    width:15%;
    margin-right:2%;
}
.foot_link_box .last_right{
    margin-right:0;
}
.foot_link_box li a{
    display:block;
    font-size:12px;
    color:#666;
    padding:16px 0;
}
.foot_link_box li:hover a{
    color:#111;
}
.foot_box{
    text-align:center;
    padding:16px 0 20px;
    background:#374049;
}
.foot_box p{
    display:inline-block;
    width:94%;
    font-size:12px;
    color:#eee;
    line-height:150%;
    margin:0 auto;
}
.foot_box p span{
    display:block;
    font-size:11px;
    color:#eee;
}


/* Media query */

@media all and (max-width:1700px){
    .quick_menu_wrap{
        right:6%;
    }
}
@media all and (max-width:1500px){
    .quick_menu_wrap{
        right:1%;
    }
}
@media all and (max-width:1122px){

    /* HEAD */
    .head_wrap,
    .menu_layout,
    .contents_wrap_box,
    .cs,
    .menu_dropdown_wrap{
        width:100%;
    }
    .util_box p,
    .util_box a{
        margin:0 2%;
    }
    .menu_wrap{
        border:none;
    }
    .menu{
        width:76%;
    }
    .menu_tutor p{
        padding:18px 10px 20px 0;
    }
    .menu_sub{
        width:15.5%;
        padding-left:7.5%;
    }
}
@media all and (max-width:420px){
    #width_text{
        color:#fff;
        background:green;
    }

    /* HEAD */
    .head_pc{
        display:none;
    }
    .head_mobile{
        display:block;
    }
    .head_wrap{
        margin:8px auto 0;
    }
    .head_mobile .menu_layout{
        display:inline-block;
        width:inherit;
    }
    .head_mobile .menu_wrap{
        float:left;
    }
    .logo_box {
        width:30%;
        max-width:150px;
        padding:6px 0 6px 20%;
    }
    .logo_box img{
        width:95%;
    }
    .search_box {
        width:92%;
        margin:0 4%;
    }
    .search_box input[type='text'] {
        padding:12px 4.5%;
    }
    .search_box button {
        top:inherit;
        bottom:4px;
        right:4px;
        padding:8px 10px;
    }
    .util_box{
        position:inherit;
        float:right;
        top:-5px;
        width:23%;
    }
    .util_box .last_right{
        font-size:14px;
        padding:23px 20px 0 0;
    }
    .util_box .pc{
        display:none;
    }
    .mobile_btn{
        float:left;
    }
    .mobile_btn button{
        border:none;
        padding:15px 20px 0;
    }
    .head_mobile .menu_dropdown_wrapper{
        position:absolute;
        top:0;
        left:0;
        width:80%;
        z-index:99999;
    }
    .head_mobile .menu_dropdown_wrap{
        width:100%;
    }
    .head_mobile .menu_dropdown{
        padding-left:20px;
    }
    .head_mobile .menu_sub{
        float:inherit;
        width:100%;
        padding:0;
    }
    .close_btn_area{
        right:-15%;
    }



    /* CONTENTS */
    .contents_wrap_box {
        width:92%;
        padding-top:95px;
        margin:0 auto;
    }
    .quick_menu_wrap{
        display:none;
    }

    /* Top */
    .top_area h1 {
        font-size: 30px;
        padding-bottom:10px;
    }
    .process_history_box {
        float: left;
    }
    .process_category {
        font-size: 20px;
        color: #333;
        background: #ffd638;
    }
    .process_score_text{
        font-size:14px;
    }

    /* Tab Content */
    .register_course_title div{
        width:100%;
    }
    .register_course_title div h2 {
        font-size: 28px;
        text-align: center;
    }
    .register_course_contents{
        width:100%;
        padding:0 0 10px;
    }
    .register_course_image,
    .register_course_info{
        float:none;
        width:100%;
    }
    .register_course_info{
        padding:10px 0 50px;
    }
    .register_course_info_text div p {
        width:164%;
        text-align:left;
        margin-left:-68%;
    }
    .register_course_info_text div select{
        width:90%;
    }
    .register_payment{
        padding: 40px 0 15px;
    }
    .register_tab_box button{
        font-weight:normal;
    }
    .register_tab_box button.active:after{
        left:43%;
    }
    .register_tab_content_box{
        padding:20px 0 60px;
    }
    .register_introduce_list .register_introduce_list_title{
        width:22%;
        text-indent:0;
    }
    .register_introduce_goal_list,
    .register_introduce_target_list{
        width:78%;
    }
    .register_introduce_list > span{
        float:right;
        width:45%;
        margin-right:15%;
    }
    .register_introduce_list > div{
        float:right;
        width:78%;
        padding-top:10px;
    }
    .register_tutor_explain p{
        float:left;
        width:78%;
    }
    .register_tutor_explain .register_tutor_title{
        width:20%;
        padding:0 1% 4px;
    }
    .register_course_info_text p,
    .register_course_info_text div{
        width:60%;
        text-align:center;
    }
    .register_course_info_text .register_course_info_title {
        width: 40%;
        text-align: left;
    }
    .register_review_box{
        padding:0;
    }
    .register_review_table tr .mobile_none{
        display:none;
    }
    .register_review_table tr .mobile_last{
        border-right:0;
    }
    .register_review_col1{
        width:14%;
    }
    .register_review_col3{
        width:25%
    }
    .register_review_table tr td span{
        width:10px;
    }
    .register_compose_table tr{
        line-height:180%;
    }
    .register_review_table tr .register_review_lecture,
    .register_compose_table tr .register_compose_lecture{
        max-width:220px;
    }
    .register_compose_table tr th input[type='checkbox'],
    .register_compose_table tr td input[type='checkbox'] {
        margin: 6px 5px -3px 0;
    }

    #compose{
        padding:35px 0;
    }
    #estimate {
        min-height: 140px;
        padding: 35px 0;
    }
    #compose > p{
        font-size:14px;
    }
    #compose > p span{
        display:none;
    }
    .register_compose_table tr .mobile_none{
        display:none;
    }
    


    /* FOOTER */
    .foot_link_box{
        width:100%;
    }
    .foot_link_box li{
        width:31%;
    }
    .foot_link_pc{
        display:none;
    }
}
@media all and (max-width:370px){
    .register_review_table tr{
        font-size:15px;
    }
    .register_review_table tr .register_review_lecture,
    .register_compose_table tr .register_compose_lecture{
        max-width:200px;
        font-size:14px;
    }
    .register_estimate_table tr {
        font-size: 15px;
    }
}
@media all and (max-width:350px){
    .register_review_table tr .register_review_lecture,
    .register_compose_table tr .register_compose_lecture{
        max-width:180px;
        font-size:13px;
    }
}